
@import '../../fonts.css';
html, body {
  font-family: 'ag_schoolbook_regular', sans-serif;
}

body {
  background: url(body-bg.jpg) repeat #fff;
}

.bg-fff {
  background-color: #fff;
}

.container-boxShadow {
  box-shadow: 1px 1px 2px #999, 0 0 1px #e5e5e5;
}

.u-textSize-14 {
  font-size: 14px;
}
