.header {
  background: url(header.jpg) repeat;
}

.secondary-header {
  background: #505F3C;
  text-transform: uppercase;

  a {
    &:link, &:active, &:visited {
      color: white;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.20);
    }

    &.active {
      color: #ddfaa4;
    }
  }
}

.logo {
  background: url(explore-logo.png) no-repeat;
  background-size: contain;
  display:block;
  width: 100%;
  height: 66px;
}

.blog-callout {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.blog-link {
  &:active, &:visited, &:link, &:hover {
    text-decoration: none;
    color: #000;
  }

  &:hover {
    background: rgba(#505F3C, .2);
    display:flex;
  }
}
