[class^=arrow-], .arw, .adb, .arg, .arrow-down-small, .arrow-down-small, .tb, .tg, .to{
	clear: none;
	display:block;
	float: left;
	position: relative;
	text-align: left;
}

.arrow-down {
	background: transparent url(/images/arrow-sprite.png?1) 0 -60px no-repeat;
	width: 15px;
	height: 12px;
	margin-top: 10px;
	margin-left: 8px;
}


.arrow-right {
	width: 10px;
	height: 10px;
	background: transparent url(/images/arrow-sprite.png?1) -20px -80px no-repeat;
	margin-left: 3px;
	margin-top: 2px;
}

a:hover .arrow-right {
	background-position: -20px -90px ;
}

.arw {
	width: 10px;
	height: 10px;
	background: transparent url(/images/arrow-sprite.png?1) -20px -100px no-repeat;
	margin-left: 4px;
	margin-top: 2px;
}

a:hover .arw {
    background-position:  -40px -90px;
}


.adb {
	width: 10px;
	height: 10px;
	background: transparent url(/images/arrow-sprite.png?1) 0px -79px no-repeat;
	margin-left: 4px;
	margin-top: 1px;
}

a:hover .adb{
	background-position: 0px -89px;
}

.arg {
	width: 10px;
	height: 10px;
	background: transparent url(/images/arrow-sprite.png?1) 2px -222px no-repeat;
	margin-left: 4px;
	margin-top: 1px;
}

.arrow-down-small {
	width: 10px;
	height: 10px;
	background: transparent url(/images/arrow-sprite.png?1) 0px -79px no-repeat;
	margin-left: 4px;
	margin-top: 1px;
}

a:hover .arrow-down-small {
	background-position:  0 -89px;
}

/*for less pages in FB module-----------------------*/

.arrow-up-small {
	width: 10px;
	height: 10px;
	background: transparent url(/images/arrow-sprite.png?1) -10px -79px no-repeat;
	margin-left: 4px;
	margin-top: 1px;

}

a:hover span.arrow-up-small {
	background-position:  -10px -89px;
}


span.tb,
span.tg,
span.to {
	width: 11px;
	height: 11px;
	background: transparent url(/images/arrow-sprite.png?1) 0 -146px no-repeat;
	margin-right: 5px;
}

span.tg {
	/*adjustment needed*/
	background-position: -11px -1580px;
}

span.to {
	/*adjustment needed*/
	background-position: -22px -1580px;
}


.bp {
	position: relative;
	margin-top: -75px;
	z-index: 4;
	width: 100%;
	height: 60px;
	background: transparent url(/images/Video_PlayArrow.png) center center no-repeat;
	cursor: pointer;
	display: none;
}

a:hover span.bp {
	display: block;
}

#promo_alerts_signup a span.arg {
    width: 10px;
    height: 12px;
    background: transparent url(/images/arrow-sprite.png?1) -30px -114px no-repeat;
    margin-left: 4px;
    margin-top: -1px;
    text-align: left;
}
#promo_alerts_signup a:hover span.arg {
    background-position: -30px -128px;
}
