.channel-results .top {
	float: left;
	clear: both;
	display: block;
	height: 40px;
	width: 100%;
	margin: 10px 0;
	line-height: 40px;
}
.channel-results .top .left, .channel-results .top .right {
	float: left;
	clear: none !important;
	display: block;
	overflow: hidden;
}
.channel-results .top .left {
	width: 40% !important;
}
.channel-results .top .right {
	position : relative;
	float: right;
	clear: none;
	width: 60% !important;
	text-align: right;
}
.channel-results .top .right ul {
	float: right;
}
.channel-results .top .right ul li {
	float: left;
	clear: none;
	margin-top: 2px;
	padding-right: 15px;
	text-transform: uppercase;
	color: #383A35;
}
.channel-results h2 {
	color: #7e7973;
}
.channel-results h2 span {
	/* locale */
	color: #538B3B;
}
.channel-results .results-film {
	float: left;
	clear: both;
	display: block;
	width: 100%;
}
.channel-results div .results-title {
	position: relative;
	float: left;
	clear: both;
	display: block;
	height: 24px;
	width: 100%;
	margin-left: -10px;
	padding-right: 20px;
	border: 0;
	line-height: 23px;
	background: transparent url(/images/Category_Background_Tile.png) 0 0 repeat-x;
	color: #fff;
}
.results-title .left {
	float: left;
	clear: none !important;
	display: block;
	width: 40% !important;
	height: 100%;
	text-indent: 10px;
	font-size: 18px;
}
.results-title .right {
	float: right;
	clear: none !important;
	display: block;
	width: 40% !important;
	height: 100%;
	margin-right: -5px;
	font-size: 12px;
	text-align: right;
	padding-top: 1px;
}
.results-title .right a:link, .results-title .right a:visited, .results-title .right a:hover, .results-title .right a:active {
	padding-right: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background: transparent url(/images/arrows/Arrow_White_Right.png) 100% 4px no-repeat;
}
.results-title .right a:hover {
	color: #d1cdc5;
	background: transparent url(/images/arrows/Arrow_Beige_Right.png) 100% 4px no-repeat;
}
.results-title span {
	float: right;
}
.channel-results .section-counters a:link, .channel-results .section-counters a:visited, .channel-results .section-counters a:hover, .channel-results .section-counters a:active {
	color: #383A35;
}
.channel-results .section-counters a:hover {
	color: #77715d;
}
.results-list ul {
	float: left;
	width: 1000px;
	margin-top: 20px;
	padding-bottom: 20px;
}
.results-list ul li {
	position: relative;
	float: left;
	clear: none;
	display: block;
	width: 220px;
	height: 166px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.results-list ul li.no-margin {
	margin-right: 0;
}
.results-list ul li a:link, .results-list ul li a:visited, .results-list ul li a:hover, .results-list ul li a:active {
	position: relative;
	display: block;
	width: 100%;
	height: 162px;
	border-bottom: 4px solid #c0b9b4;
}
.results-feed ul li a {
	overflow: hidden;
}
.results-list ul li a:hover {
	border-bottom-color: #e0591e;
}
.results-list ul li a:link img.thumb, .results-list ul li a:visited img.thumb, .results-list ul li a:hover img.thumb, .results-list ul li a:active img.thumb {
	position: absolute;
	display: block;
	width: 100%;
}
.results-list ul li a:link span.duration, .results-list ul li a:visited span.duration, .results-list ul li a:hover span.duration, .results-list ul li a:active span.duration {
	position: relative;
	float: right;
	clear: none;
	display: block;
	height: 20px;
	min-width: 10px;
	top: 104px;
	padding: 0 10px;
	line-height: 20px;
	font-size: 10px;
	color: #fff;
	background: url(/images/IE-60pc.png) 0 0 repeat;
}
.results-list ul li a span.selection {
	position: relative;
	display: block;
	width: 117px;
	height: 25px;
	margin-top: 10px;
	margin-left: -5px;
	padding: 0;
	padding-top: 3px;
	font-size: 10px;
    line-height: normal;
	text-transform: uppercase;
	text-indent: 3px;
	background: transparent url(/images/Festival_OverlayTab.png?1) 0 0 no-repeat;
	color: #fff;
}
.results-list ul li a:hover span.selection {
	background: none;
}
.results-list ul li a:link span.desc, .results-list ul li a:visited span.desc, .results-list ul li a:hover span.desc, .results-list ul li a:active span.desc {
	bottom: 0;
	position: absolute;
	clear: both;
	display: block;
	width: 218px;
	height: 33px;
	overflow: hidden;
	padding-top: 5px;
	border: 0;
	border-left: 1px solid #c0b9b4;
	border-right: 1px solid #c0b9b4;
	line-height: 14px;
	background: #fff;
}
.results-list ul li a span.desc > span {
	clear: both;
	display: block;
	color: #5d5a55;
	overflow: hidden;
	white-space: nowrap;
    padding-left: 5px;
}
.results-list ul li a span.desc span.title {
	text-transform: uppercase;
    width: 200px;
}
.results-list ul li a span.desc span.title strong {
	color: #2a2b28;
}
.results-list ul li a span.desc span.title2 {
	text-transform: lowercase;
	font-size: 10px;
	line-height: 14px;
}
.results-list ul li a span.olay {
	position: absolute;
	display: block;
	width: 100%;
	height: 162px;
	color: #fff;
	background: url(/images/dark-grey-transparent.png) repeat;
	/* default hide */
	display: none;
}
.results-list ul li a span.olay span.tidbits {
	display: block;
	width: 200px;
	height: 110px;
	overflow: hidden;
	padding: 10px;
	font-size: 11px;
	line-height: 14px;
}
.results-list ul li a span.olay span.tidbits-view {
	display: block;
	height: 11px;
	min-width: 10px;
	margin-top: 5px;
	padding: 0 10px 0 10px;
	font-size: 10px;
	font-weight: bold;
	background: transparent url(/images/arrows/Arrow_White_Right.png) 100% 2px no-repeat;
}
.results-list ul li a span.olay span.tidbits-view:hover {
	color: #e85a06;
	background: transparent url(/images/arrows/Arrow_Orange_Right.png) 100% 2px no-repeat;
}
.results-list ul li span.olay span.title {
	font-size: 11px;
	float: none;
	text-transform: uppercase;
	color: #e85a06;
}
.results-list ul li span.olay span.title2 {
	font-size: 10px;
	position: absolute;
	right: 10px;
	bottom: 13px;
}
.results-list ul li a:hover span.olay {
	display: block;
}
.results-list .results-albums ul li {
	background: transparent url(/images/Photo_Stack_Background.png) bottom right no-repeat;
}
.results-list .results-albums ul li a:link, .results-list .results-albums ul li a:visited, .results-list .results-albums ul li a:hover, .results-list .results-albums ul li a:active {
	width: 211px;
	height: 153px;
}
.results-list .results-albums ul li a img.thumb {
	width: 211px;
	height: 115px;
}
.results-list .results-albums ul li a span.desc {
	width: 209px;
}
.results-list .results-albums ul li a span.olay {
	height: 153px;
	margin-top: -153px;
}
.results-list .results-albums ul li a span.olay span.tidbits {
	width: 190px;
}
.results-list .results-photos ul li a:hover .desc .title, .results-list .results-photos ul li a:hover .desc .title strong, .results-list .results-albums ul li a:hover .desc .title, .results-list .results-albums ul li a:hover .desc .title strong {
	color: #e0591e;
}
.channel-results-search h2 span {
	color: #383a35 !important;
}
.channel-results-search .site-search {
	float: right;
	margin-top: 7px;
	margin-left: 5px;
}
.channel-results-search .site-search input {
	color: #7e7973;
	font-weight: normal;
}
.channel-results .results-pagers {
	float: left;
	height: 43px;
	width: 100%;
	margin-bottom: -5px;
	margin-left: -9px;
	padding-bottom: 0;
	padding-right: 18px;
	font-size: 17px;
	color: #fff;
	background: #d8d4d1;
	/* modernizr */
	border-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	behavior: url(/css/PIE.htc);
}
.results-pagers a:link, .results-pagers a:visited, .results-pagers a:hover, .results-pagers a:active {
	font-size: 17px;
	color: #7e7973;
	font-weight: bold;
	text-transform: uppercase;
	/* modernizr */
	text-shadow: 0px 1px 1px #fff;
	-webkit-text-shadow: 0 1px 1px #fff;
}
.results-pagers a:hover, .results-pagers a:active, .results-pagers a.activ {
	color: #fff;
	text-shadow: 0px 1px 1px #7e7973;
}
.results-pagers a.activ {
	text-shadow: none;
	-webkit-text-shadow: none;
}
.results-pagers .prev {
	position: relative;
	float: left;
	clear: none;
	display: block;
	width: 150px !important;
	height: 44px;
	line-height: 100%;
	text-align: center;
}
.results-pagers .next {
	position: relative;
	float: right;
	clear: none !important;
	display: block;
	height: 44px;
	width: 120px !important;
	margin: 0;
	margin-right: -10px;
	line-height: 100%;
	text-align: center;
	border-bottom-right-radius: 4px;
}
.results-pagers .prev a:link, .results-pagers .prev a:visited, .results-pagers .prev a:hover, .results-pagers .prev a:active, .results-pagers .next a:link, .results-pagers .next a:visited, .results-pagers .next a:hover, .results-pagers .next a:active {
	display: block;
	width: 100%;
	height: 43px;
	line-height: 43px;
	text-indent: 10px;
	background: transparent url(/images/arrows/Results_BigArrow_Gray_Left.png) 17px 16px no-repeat;
	/* modern */
	border-bottom-left-radius: 4px;
	-moz-border-radius: 0 0 0 4px;
	-webkit-border-bottom-left-radius: 4px;
	behavior: url(/css/PIE.htc);
}
.results-pagers .next a:link, .results-pagers .next a:visited, .results-pagers .next a:hover, .results-pagers .next a:active {
	padding-right: 9px;
	text-indent: 13px;
	background: transparent url(/images/arrows/Results_BigArrow_Gray_Right.png) 98px 16px no-repeat;
	/* modern */
	border-radius: 0;
	border-bottom-right-radius: 4px;
	-moz-border-radius: 0 0 4px 0;
	-webkit-border-right-radius: 4px;
	behavior: url(/css/PIE.htc);
}
.results-pagers .prev a:hover {
	background-image: url(/images/arrows/Results_BigArrow_White_Left.png);
	background-color: #b2aeaa;
}
.results-pagers .next a:hover {
	background-image: url(/images/arrows/Results_BigArrow_White_Right.png);
	background-color: #b2aeaa;
}
.results-pagers .pages {
	float: left;
	clear: none !important;
	width: 670px !important;
	height: 100%;
	margin:0;
	line-height: 42px;
	text-align: center;
}
.results-pagers .pages a {
	padding: 12px 6px 16px 6px;
}
