@font-face {
    font-family: 'ag_schoolbook_regular';
    src: url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular.eot');
    src: url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular.eot?#iefix') format('embedded-opentype'),
    url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular.woff') format('woff'),
    url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular.ttf') format('truetype'),
    url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular') format('svg');
}

/******************************************************************************************/
/* Channel browser, pagers, thumbnail off + on states													*/
/******************************************************************************************/
#channel-browser {
	float: left;
	display: block;
	width: 100%;
	height: 55px;
    margin-bottom: 5px;
    overflow: hidden;;
}

#channel-browser ul li {
	float: left;
	clear: none;
	display: block;
	width: 82px;
	height: 55px;
	margin-left: 4px;
}

#channel-browser ul li.activ {
	background: transparent url(/images/ChannelBrowser_ArrowDown.png) bottom center no-repeat;
}

#channel-browser ul li:first-child {
	margin-left: 0;
}

#channel-browser ul li a:link,
#channel-browser ul li a:visited,
#channel-browser ul li a:hover,
#channel-browser ul li a:active {
	float: left;
	overflow: hidden;
}

#channel-browser ul li a:hover,
#channel-browser ul li.activ a {
	border: 2px solid #3a3835;
	border-bottom-width: 5px;
}

#channel-browser ul li a:hover{
	border-width: 2px;
}

#channel-browser ul li.activ a:hover {
	border-bottom-width: 5px;
}

#channel-browser ul li a img {
	display: block;
	width: 82px;
	height: 46px;
	/*background: #e7e7e7;*/
}

#channel-browser ul li.activ img,
#channel-browser ul li a:hover img {
	margin: -2px;
}

#channel-browser .pagers {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	height: 1px;
}

#channel-browser .pagers a:link,
#channel-browser .pagers a:visited,
#channel-browser .pagers a:hover,
#channel-browser .pagers a:active {
	position: relative;
	top: -45px;
	clear: none;
	display: block;
	width: 17px;
	height: 26px;
}

#channel-browser div.pagers .prev {
	float: left;
	left: -3px;
	background: url("/images/arrows/ChannelBrowser_Arrow_Left.png") no-repeat scroll 0 0 transparent;
}

#channel-browser div.pagers .next {
	float: right;
	right: -3px;
	background: url("/images/arrows/ChannelBrowser_Arrow_Right.png") no-repeat scroll 0 0 transparent;
}

.promo-browser {
	width: 944px;
	height: 173px;
	overflow: hidden;
}
.promo-browser div.promo-banner-item {
	display:block;
	float:left;
}
.promo-browser div.promo-banner-item:not(:first-child) {
	margin-left:8px;
}
#promo-browser {
	overflow:hidden;
}
#promo-browser a.prev,
#promo-browser a.next {
	background: url("/images/arrows/channel-browser-sprite.png") no-repeat;
}
#promo-browser a.prev {
	display:none;
	background-position: 0 0;
	position: absolute;
	width: 29px;
	height: 77px;
	left: -36px;
	top: 53px;
}
#promo-browser a.next {
	display:none;
	position: absolute;
	background-position: -30px 0;
	width: 29px;
	height: 77px;
	right: -36px;
	top: 53px;
}
#promo-browser a.prev:hover,
#promo-browser a.next:hover {
	filter: alpha(opacity=80);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity: 0.80;
}

/******************************************************************************************/
/* Main Title + Comment Form															  */
/******************************************************************************************/

#channel-title {
	display: block;
	height: 45px;
	width: 100%;
	line-height: 45px;
    clear:both;
	margin-top: 10px;
}

#channel-title span.cam-title-wrap {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 725px;
	font-family: ag_schoolbook_regular;
	color: #000;
	font-size: 24px;
	font-weight: normal;
	color: #4e4a48 !important;
}

#channel-title .cm-title {
	color: #4e4a48 !important;
	padding-right: 6px;
}

#channel-title .cm-title a:hover {
	text-decoration: underline;
}

#channel-title .cm-title a {
	color: #4e4a48 !important;
}

#channel-title .im-title, #channel-title h1 {
	left: 5px;
	position: relative;
}

#channel-title h1 {
	font-weight: normal;
	display: inline;
}

#channel-title span.title-separator {
	color: #4e4a48 !important;
	position: relative;
	top: -1px;
}

#im-splash-play-button { position: absolute; left:431px; top:221px; cursor: pointer; }


/*
#channel-title form {
	float: right;
	clear: none;
	margin-top: 12px;
}

#channel-title form input {

	float: left;
	font-size: 12px;
}
*/

#channel-title .dim-switch {
	display: none;
	color: #6a6664;
	font-size: 12px;
	font-weight: bold;
	float: right;
	clear: none;
	margin-top: 0;
    width: 133px;
}
#channel-title .dim-switch span.dim {
	float: right;
    padding:  0 12px 0 0px;
}
#channel-title .dim-switch div {
	float: right;
	margin-top: 5px;
}

#channel-extras li.take-action a.take-action-button {
	border-radius: 10px;
	border: 1px solid #c0c0c0;
	font-family: ag_schoolbook_regular;
	color: #000;
	font-size: 22px;
	font-weight: normal;
	float:left;
	padding: 8px 12px 8px 8px;
	background-color: #ffffff;
}

#channel-extras li.take-action a.take-action-button span.heart,
#channel-extras li.take-action a.take-action-button:hover > span.heart {
	background: url(/images/related_media/heart_sprite.png) no-repeat;
	width: 11px;
	height: 11px;
}

#channel-extras li.take-action a.take-action-button span.heart {
	position: relative;
	background-position: 0 0;
	top: 9px;
	margin-left: 1px;
	margin-right: -4px;
}

#channel-extras li.take-action a.take-action-button:hover > span.heart {
	background-position: -13px 0;
}

#channel-extras li.take-action a.take-action-button span {
	margin-left: 6px;
	line-height: 25px;
}

/*#all-snapshots,*/
#channel-extras .btn {
    font: bold 12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    height: 25px;
    float: right;
    padding: 0 8px 0 38px;
    color: #f9f7f4;
    background: url('/img/pop/small-camera-white.png') no-repeat scroll 10px 3px #538B3B;
    line-height: 25px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 2px #666;
       -moz-box-shadow: 0px 1px 2px #666;
        -ms-box-shadow: 0px 1px 2px #666;
         -o-box-shadow: 0px 1px 2px #666;
            box-shadow: 0px 1px 2px #666;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
        -ms-border-radius: 25px;
         -o-border-radius: 25px;
            border-radius: 25px;
}

#channel-extras .btn {
    float: left;
    text-transform: none;
    padding: 0 10px 0 28px;
    margin-top: 0;
}

#channel-extras .btn {background: url('/img/pop/sprite-donate-action.png') no-repeat scroll 7px 4px #4c4c4c !important;}

/*#all-snapshots:hover,*/
#channel-extras .btn:hover,
#channel-extras a.take-action-button:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ms-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}

/* Snapshot dashboard authentication modal */
.snapshot-login-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 667px;
    height: 640px;
    padding-bottom: 40px;
    border: 6px solid rgba(0, 0, 0, .3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    border-radius: 46px;
    background-color: #FFFFFF;
}

.snapshot-login-modal a#close #close-icon {
    position: absolute;
    top: 9px;
    right: 10px;
	width: 80px;
	height: 80px;
	background: url('/img/pop/snapshot-modal-close.png') no-repeat;
    z-index: 999999;
}

.snapshot-login-modal #snapshot-modal-content {
	position: relative;
	margin-top: 32px;
	margin-left: 40px;
	width: 570px;
}

.snapshot-login-modal p#top-info {
	font-family: 'MuseoSans-700';
    font-size: 20px;
    color: #898989;
    text-transform: uppercase;
}

.snapshot-login-modal p#required-text {
	font-family: 'MuseoSans-100';
    font-size: 52px;
    color: #000000;
    text-transform: capitalize;
    line-height: 56px;
    position: relative;
    top: -2px;
}

.snapshot-login-modal p#snapshot-modal-body {
    position: relative;
    top: 16px;
    line-height: 42px;
	font-family: 'MuseoSans-100';
    font-size: 30px;
    color: #000000;
}

.snapshot-login-modal p#snapshot-modal-body span#snapshot-body-link {
	font-weight: bold;
	color: #548a3c;
}

.snapshot-login-modal .snapshot-btns {
    position: relative;
    left: 26px;
    float: right;
    bottom: -127px;
}

.snapshot-login-modal .snapshot-modal-btn {
    border-radius: 10px;
    border: 1px solid #548a3c;
    font-family: 'MuseoSans-100';
    font-size: 20px;
    color: #FFFFFF;
    /*float: left;*/
    background-color: #548a3c;
    font-weight: bold;
}

.snapshot-login-modal .snapshot-modal-btn:hover {
	background-color: #436e30;
	border: 1px solid #436e30;
}

.snapshot-modal-btn#login-btn {
    padding: 14px 34px;
    margin-right: 7px;
}

.snapshot-modal-btn#register-btn {
    padding: 14px 26px;
}
/* End snapshot dashboard authentication modal */

#channel-extras .btn.download {background-position: 13px -101px !important}

#channel-player {

	float: left;
	clear: none;

	display: block;
	height: 530px;
	width: 100%;

	background: #fff;

	/*z-index: 202;*/
	/*overflow: hidden;*/ /* This currently breaks the wall and it's not clear why it was here to begin with */
}

/*******************************************************************************************
    Player Stage
*******************************************************************************************/
.im-player-stage { width: 942px !important; height: 530px !important; position:absolute !important; }
.im-z-player-back { z-index: 0 !important; }
.im-z-player-front { z-index: 99; }
.im-z-player-dim { z-index: 102 !important; }
.im-z-channel-info { z-index: 100 !important; }
.channel-browser-modal { z-index: 154; }
#media-splash-play-button {
    cursor: pointer;
    left: 490px;
    margin: -58px 0 0 -60px;
    position: absolute;
    top: 225px;
}
#ooyala_player_container > div.innerWrapper
{
    z-index: 110;
}
#video-splash-screen {
    z-index: 111;
    top: 0;
    left: 0;
}
.im-video-still { height: 530px; width: 942px; }
#galleria-data { display: none; }
#video_playerOoyalaPlayerOutterWrapper { position: absolute; }

/******************************************************************************************/
/* Player Main Info 																								*/
/******************************************************************************************/

#channel-main
#channel-info {

	position: relative;
	float: right;
	clear: none;

	display: block;
	height: 530px;
	width: 280px;

	margin-top: -530px;

	background: #000;

	background: url(/images/IE-60pc.png) 0 0 repeat;
}
#channel-info .ruler {

	margin: 2px 0;
}
#channel-info a.expander:link,
#channel-info a.expander:visited,
#channel-info a.expander:hover,
#channel-info a.expander:active {

	position: absolute;
	top: 245px;
	right: -24px;

	display: block;
	width: 26px;
	height: 34px;

	/* locale */
	background: transparent url(/images/Explore_SouthAmerica_Sprite.png) 0 -110px no-repeat;
}
a.expander.notes {
    display: block;
    height: 34px;
    width: 26px;
    position: absolute;
    right: -16px;
    top: 344px;
}
#channel-info a.expander.with-notes:link,
#channel-info a.expander.with-notes:visited,
#channel-info a.expander.with-notes:hover,
#channel-info a.expander.with-notes:active {
    top:270px;
}
#channel-info a.close:link,
#channel-info a.close:visited,
#channel-info a.close:hover,
#channel-info a.close:active {

	position: absolute;
	right: 7px;

	display: block;
	width: 20px;
	height: 20px;

	margin: -8px 0px 0px 0;

	/* locale */
	background: transparent url(/images/Explore_SouthAmerica_Sprite.png) 0 -190px no-repeat;
}
#channel-info a.close:hover, #channel-alert-count a.close:hover {
    background: url("/images/arrow-sprite.png") no-repeat scroll -14px -200px transparent !important;
}

#channel-info a.expander:hover {

	/* locale */
	background: transparent url(/images/Explore_SouthAmerica_Sprite.png) 0 -144px no-repeat;
}
#channel-info .info-text {
	display: block;
	width: 240px;
	height: 490px;
	padding: 20px;
	overflow: hidden;
}
.info-text .im-map {
	height:160px;
	margin-top: 23px;
}
.info-text p.info-title {
    height: 15px;
    padding-top: 8px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-text .im-title {
    font-size: 16px !important;
}
.info-text .im-trt {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}
.info-text .info-description {
    overflow: hidden;
    height: 106px;
    margin-bottom: 7px;
    color: #fff;
}
.info-text .info-description span {
    color: #fff;
}
.info-text .info-description a{
    color: #eee;
    text-decoration: none;
}
.info-text .info-description a:hover{
    text-decoration: underline;
}
.info-text p {
    padding: 6px 0;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
}
.info-text p.npt {
    height: 52px;
    padding-top: 0;
    margin-bottom: 14px;
}
.info-text p:first-child {
    padding-top: 5px;
}
.info-text p.info-14 {
    padding: 0;
    margin-top: 6px;
}
.info-text #grants p.info-14 {
	height: 20px;
	margin-top: 10px;
}
.info-text p.overflow-hidden { overflow: hidden; }
.info-text p span { text-transform: lowercase; }
.info-text p.info-14 span {
    font-size: 12px;
}
.info-text p span:first-child {
    font-weight: bold;
    font-size: 14px;
}
#channel-info ul li {
	display: none;
}
#channel-info ul li.activ {
	display: block;
}
.info-text p span.im-grant-recipient { text-transform: none !important; }
.info-text p.info-topic{
    height: 23px;
    line-height: 25px;
}
.info-text p.info-location{
    height: 23px;
    line-height: 25px;
}
.info-text a.next{

	float: right;

	display: block;
	width: 44px;
	height: 12px;

	color: #fff;
}
.info-text a:hover.next{
color: #77716d;
}
.info-text img.map {

	display: block;
	width: 100%;
    margin-top: 7px;

/*	background: #000;*/
}

#channel-metainfo {
	position: relative;
	z-index:99;
	float: left;
	width: 100%;
	margin-top: -530px;
}

#time-weather {
    z-index:1;
    width: 680px;
    padding: 10px;
    color: #000;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*#time-weather .extra {
    display: none;
}

#time-weather:hover .extra {
    display: block;
}*/

#time-weather .time-info, #time-weather .weather-info {
    float: left;
    margin-right: 10px;
    height: 32px;
    padding: 14px;
    white-space: nowrap;
    background: transparent url(/img/pop/bg_timeweather.png);
    color: #000;
    min-width: 70px;
    border-radius: 2px;
}
#time-weather .weather-info {
    min-width: 40px;
}
#time-weather .main {
    float: left;
    font-size:32px;
    height:32px;
    line-height: 32px;
    font-weight: normal;
    white-space: nowrap;
}
#time-weather .tzinfo {
    margin-left: 8px;
}
#time-weather .more-clock {
    float:left;
}
.more-clock .time, .weather-info .temp-data {
    float: left;

}
.more-clock .ampm {
    float: left;
    font-size:16px;
    height:16px;
    line-height: 16px;
    margin-left: 3px;
}
.weather-info .temp-data{
    margin-right: 0;
}

#time-weather .extra {
    float: left;
    margin-left: 15px;
    height: 26px;
}
#time-weather .extra span {
    float: left;
    clear: both;
    font-size: 13px;
    font-weight: normal;
    height: 13px;
    padding-top: 1px;
}

#time-weather .extra .tzinfo, #time-weather .extra .weather-cond {
    font-weight: bold;
    margin: 0;
}

#channel-alert {
    position: absolute;
    top: 0;
    left: 0;
    z-index:5;
    width: 500px;
    padding: 12px 15px 15px 15px;
    color: #e35f26;
    background: url(/images/IE-60pc.png) 0 0 repeat;
}

#channel-alert p {

	width: 94%;
	line-height: 20px;
	font-size: 13px;
}

#channel-alert p.title {

	font-weight: bold;
}

#channel-alert a.close:link,
#channel-alert a.close:visited,
#channel-alert a.close:hover,
#channel-alert a.close:active {

	position: absolute;
	right: 7px;

	display: block;
	width: 15px;
	height: 20px;

	margin: 0px 0px 0px 0;

	/* locale */
	background: url("/images/arrow-sprite.png") repeat scroll 0 -199px transparent;
}

#channel-alert a.close:hover {
    background-position: -15px -199px;
}

#channel-alert-count.black {
	background: url(/images/countdown-bck-solid.png);
}

#channel-alert-count {
	position: relative;
	z-index:99;

	float: left;

	display: block;
	width: 100%;
	height: 530px;

	margin-top: -530px;
	padding: 0px;

	color: #e35f26;
	background: url(/images/countdown-bck-alpha.png) 0 0 repeat;
}

#channel-alert-count a.close {
	position: absolute;
	right: 20px;
	top: 20px;

	display: block;
	width: 20px;
	height: 20px;
}

#channel-alert-count > div {
	margin: auto;
	margin-top: 170px;
	width: 400px;
	text-align: center;
}

.count-number {
    float: left;
    background: url(/images/countdown-bck-number.png);
    width: 100px;
    height: 80px;
    color: #fff;
    font-size: 46px;
    padding-top: 19px;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.count-number > div {
    font-size: 13px;
    margin-top: 26px;
}
.count-number > div.split {
    position: relative;
    left: 18px;
    top: 28px;
    width: 62px;
    height: 2px;
    background-color: #000;
    margin: 0;
}


/******************************************************************************************/
/* Related Media 																									*/
/******************************************************************************************/

#channel-related {

	float: left;
	clear: none;

	display: block;
	width: 100%;
	min-height: 100px;

	margin-top: 15px;
	padding-bottom: 10px;
}

#channel-related h3 {
	float: left;
	clear: none;
	display: block;
	width: auto;
	padding-top: 8px;
	font-family: ag_schoolbook_regular;
	color: #4e4a48;
	font-size: 22px;
	font-weight: normal;
}

#channel-related ul.related-actions  {
	float: left;
	clear: none;
	display: block;
	
}

#channel-related ul.related-actions li {
	float: left;
	clear: none;
	font-family: ag_schoolbook_regular;
	font-size: 22px;
}

#channel-related ul.related-actions li a:link,
#channel-related ul.related-actions li a:visited,
#channel-related ul.related-actions li a:hover,
#channel-related ul.related-actions li a:active {
	float: left;
	clear: none;
	display: block;
	color:#000;
	padding:8px 10px 8px 10px;
	border-radius:10px;
	border:1px solid #c0c0c0;
	background-color:#fff;
	margin-left: 14px;
}

#channel-related ul.related-actions li:first-child a {
    margin-left: 14px;
}

#channel-related ul.related-actions li a.activ:hover {
	filter: alpha(opacity=80);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity: 0.80;
}

#channel-extras li.add-comment a.add-comment-button:hover > div {
	filter: alpha(opacity=50);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.50;
}

/*#channel-extras li.take-action a.take-action-button:hover {
	background-color: #ff9a17;
	color:#ffffff;
}

#channel-extras li.take-action a.take-action-button:hover > div {
	background: url(/images/related_media/buttons_sprites.png) no-repeat;
	background-position: -30px 0;
	width: 24px;
	height: 24px;
}


#channel-extras li.add-comment a.add-comment-button:hover {
	background-color: #46b84b;
	color:#ffffff;
}

#channel-extras li.add-comment a.add-comment-button:hover > div {
	background: url(/images/related_media/buttons_sprites.png) no-repeat;
	background-position: -32px -27px ;
	width: 24px;
	height: 24px;
}*/


/*#channel-related ul.related-actions  li a.activ span.arg {
	background-position: -33px -222px;
}
*/

#channel-related ul.related-thumbs {
	width: 100%;
	margin-top: 7px;
}


#channel-related ul.related-thumbs li {
	float: left;
	width: 150px;
	height: 84px;
	margin-left: 8px;
}

#channel-related ul.related-thumbs li:first-child {
	margin-left: 0;
}

#channel-related ul.related-thumbs li a:link,
#channel-related ul.related-thumbs li a:visited,
#channel-related ul.related-thumbs li a:hover,
#channel-related ul.related-thumbs li a:active
{
	z-index: 9;
	float: left;
	color: #fff;
	overflow: hidden;
}


#channel-related ul.related-thumbs li img {

	display: block;
	width: 150px;
	height: 84px;

	/*background: #ccc;*/
}
#channel-related ul.related-thumbs li a:hover {

    border: 2px solid #3a3835;
}

#channel-related ul.related-thumbs li span.thumb-info {

    position: relative;
    z-index: 1;

    display: block;
    width: 140px;
    height: 26px;
	overflow: hidden;
    margin-top: -36px;
    padding: 5px;

    background: url(/images/IE-60pc.png) 0 0 repeat;


    /* hidden by default */
    display: none;
}

#channel-related ul.related-thumbs li a:hover img {
    margin: -2px;
}

#channel-related ul.related-thumbs li a:hover span.thumb-info {
	display: block;
    width: 136px;
}

#channel-related ul.related-thumbs li span.thumb-info span {
	display: block;
	font-style: italic;
}

#channel-related ul.related-thumbs li span.thumb-info span:first-child {
	height: 12px;
	width: 100%;
	margin-bottom: 2px;
	font-style: normal;
	overflow: hidden;
}



/******************************************************************************************/
/* Off + Dim Controls 																							*/
/******************************************************************************************/

#channel-main #channel-extras {
	float: right;
	clear: none;
	display: block;
	text-align:right;
}

#channel-extras ul {
	display: block;
	/*height: 30px;*/
	width: 100%;
    overflow: hidden;
}

#channel-extras ul li {
	float: right;
	margin-left: 20px;
}
#channel-extras ul li.add-this {
	float: right;
    margin-top: 5px;
}
#channel-extras ul li.download {padding-right: 0px;}
#channel-extras ul li.comments {
    float: right;
}
#channel-extras ul li.tweet {
	float: right;
    margin-top: 3px;
}
#channel-extras ul li.take-action {
    margin-left: 5px;
	position: relative;
	left: 8px;
}
#channel-extras ul li.share-this {
    overflow: hidden;
    /*height: 100%;*/
    padding: 0 0 1px;
}

#channel-extras ul li.od-controls {
	margin-left: 12px;
}

#channel-extras ul li.od-controls a.od-off:link,
#channel-extras ul li.od-controls a.od-off:visited,
#channel-extras ul li.od-controls a.od-off:hover,
#channel-extras ul li.od-controls a.od-off:active,
#channel-extras ul li.od-controls a.od-dim:link,
#channel-extras ul li.od-controls a.od-dim:visited,
#channel-extras ul li.od-controls a.od-dim:hover,
#channel-extras ul li.od-controls a.od-dim:active {
	display: block;
	width: 72px;
	height: 25px;
	margin: 0;
	background: transparent url(/images/dim-sprite.png) 0 -2px  no-repeat;
}

#channel-extras ul li.od-controls  a.od-off:hover {
	background-position: 0 -28px;
}

#channel-extras ul li.od-controls a.od-dim:link,
#channel-extras ul li.od-controls a.od-dim:visited,
#channel-extras ul li.od-controls a.od-dim:hover,
#channel-extras ul li.od-controls a.od-dim:active {
	background-position: -71px -2px;
}

#channel-extras ul li.od-controls a.od-dim:hover {
	background-position: -71px -29px;
}

#channel-extras ul li.fb-info {
    margin-top: 3px;
    min-width: 70px;
    margin-left: 0px;
}

#channel-extras li.add-comment a.add-comment-button {
	border-radius: 10px;
	border: 1px solid #c0c0c0;
	font-family: ag_schoolbook_regular;
	color: #000;
	font-size: 22px;
	font-weight: normal;
	float:left;
	padding: 8px 10px 8px 10px;
	background-color: #ffffff;
}

#channel-extras li.add-comment a.add-comment-button div {
	background: url(/images/related_media/buttons_sprites.png) no-repeat;
	background-position: 0 -28px ;
	width: 24px;
	height: 24px;
	float:left;
}

#channel-extras li.add-comment a.add-comment-button span {
	margin-left: 6px;
	line-height: 25px;
}

#channel-extras .btn span {
    margin: 0px;
    background: #4c4c4c;
    padding: 0 0 0 5px;
    line-height: 25px;
    color: #f9f7f4 !important;
    background-image: none !important
}

#related-thumbs-container,
#related-thumbs-container-inactive {
    clear:both;
    overflow:hidden;
    width:100%;
}

.related-pagers {
	position: relative;
	top: -55px;
	/*z-index: 9;*/
	display: block;
	width: 100%;
	height: 26px;
	clear: none;
}

.related-pagers a:link,
.related-pagers a:visited,
.related-pagers a:hover,
.related-pagers a:active {
	position: relative;
	clear: none;
	display: block;
	width: 17px;
	height: 26px;
	/*background: transparent url(/images/Explore_General_Sprite.png) 0 0 no-repeat;*/
}

div.related-pagers .prev {
	float: left;
	left: -3px;
    background: url('/images/arrows/ChannelBrowser_Arrow_Left.png') no-repeat scroll 0 0 transparent;
    z-index: 10;
}

div.related-pagers .next {
    background: url('/images/arrows/ChannelBrowser_Arrow_Right.png') no-repeat scroll 0 0 transparent;
    float: right;
    right: -3px;	float: right;
	right: -1px;
	margin-top: 2px;
    z-index: 10;
}

#channel-related {
	height: 120px;
}

#dimmer {
    position:fixed;
    width:100%;
    height: 1000px;
    background: #000;
    background: url("/images/IE-80pc.png") repeat scroll 0 0 transparent;
    opacity: 1 !important;
    z-index: 201;
    top:0px;
    left:0px;
}
.above-dimmer { z-index: 202 !important; }
.od-controls-dimmer { position: relative; }

/*
    Item Details
*/
#item-details .item-wrapper {
    color: #fff;
    background: none repeat scroll 0 0 transparent !important;
    float: right !important;
    margin: 0 !important;
    opacity: inherit !important;
    overflow: hidden !important;
    padding: 0 !important;
    text-overflow: ellipsis;
}
#item-details li strong {/* width: 29px !important; */}
#item-details li strong {/* width: 29px !important; */}
#item-details li a { overflow: hidden; white-space: nowrap;}

/*
    NGOs, Education, Social News
*/
.n-ngo li.ngo-name,
.n-education li { overflow: hidden; white-space:nowrap;  }
    .n-ngo .social-news-item {
        height: 40px !important;
        line-height: 20px !important;
        overflow: hidden;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .n-education li strong { display:block; float: left; }
    .n-education li div { float: right !important; overflow: hidden; margin: 0 !important; padding: 0 !important; }
    .n-education li a { white-space: nowrap; overflow: hidden; }
    .n-education li a span { float: none; }

#channel-related.multi-line {
    height:auto !important;
}
#channel-related.multi-line {
    padding-bottom: 0px !important;
}
#channel-related.multi-line ul.related-thumbs {
    width: 950px !important;
    height: auto !important;
}
#channel-related.multi-line ul.related-thumbs li {
    margin: 0 8px 8px 0 !important;
    position: relative; /* for badges */
}
#channel-related.multi-line .related-pagers { display: none !important; }
iframe#twttrHubFrame, iframe#twttrHubFrameSecure
{
    left: 0; /* hack to fix wall */
}
/* ustream player */
.live-cams.ustream #channel-player {height: 530px;}
.live-cams.ustream .im-player-stage {height: 530px;}
.live-cams.ustream #channel-main #channel-info {height: 530px;margin-top: -530px;}
.live-cams.ustream #channel-alert-count {height: 530px;margin-top: -530px;}
.live-cams.ustream #channel-metainfo {margin-top: -530px;}

/* link colors for disqus, from all themes, preloaded */
#disqus_thread.blue-gray a {color: #708e8f;}
#disqus_thread.brown a {color: #784222;}
#disqus_thread.dark-red a {color: #7d0f12;}
#disqus_thread.graphite a {color: #72726d;}
#disqus_thread.green a {color: #538B3B;}
#disqus_thread.khaki a {color: #9d8a67;}
#disqus_thread.light-green a {color: #8aa860;}
#disqus_thread.orange a {color: #E0591E;}
#disqus_thread.sea-green a {color: #96c2b1;}
#disqus_thread.stone-gray a {color: #a3a298;}
#disqus_thread.teal-blue a {color: #0388a2;}
#disqus_thread.turquoise a {color: #3eabbb;}
#disqus_thread.yellow a {color: #E8B11F;}

/* Alt feed views */
.alt_views {
    width: 100%;
    background: #000;
    /*overflow: hidden;*/
    position: relative;
    clear: both;
}

.alt_views .view {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    height: 124px;
    width: 219px;
    background: #CCC;
    margin: 10px 0 10px 10px;
    border: 2px solid #000;
}

.alt_views .view.active {

    border: 2px solid #FFF;
}

.alt_views .view iframe {
    position: absolute;
    top: 0px;
    left: -24px;
    z-index: 4;
    width: 263px !important;
    height: 148px !important;
}
.alt_views .view.youtube iframe {
    height: 124px !important;
    left: 0;
    width: 220px !important;
}
.alt_views .view .cover {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 124px;
    width: 219px;
    z-index: 9;
}
.alt_views .view img {
    width: 100%;
}
.alt_views .view .cover .islive {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 0px;
    background: rgb(236, 80, 68);
    background: -moz-linear-gradient(top, rgba(236, 80, 68, 1) 0%, rgba(230, 35, 30, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(236, 80, 68, 1)), color-stop(100%, rgba(230, 35, 30, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 80, 68, 1) 0%, rgba(230, 35, 30, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 80, 68, 1) 0%, rgba(230, 35, 30, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 80, 68, 1) 0%, rgba(230, 35, 30, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 80, 68, 1) 0%, rgba(230, 35, 30, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec5044', endColorstr='#e6231e', GradientType=0); /* IE6-9 */

    color: #FFF;
    padding: 3px 10px;
}
.alt_views .view .cover .islive.offline {
    display: none;
}
.alt_views .view .cover .copy {
    position: absolute;
    display: none;
    bottom: 0px;
    left: 0px;

    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    padding: 3px 6px;
    max-width: 170px;
}

.alt_views .view:hover .cover .copy {
    display: block;
}

.alt_views .view:hover {
    border: 2px solid #CCC;
}
.alt_views .inner_toggle {
    overflow: hidden;
    height: 100%;
}

.view_toggle {
	opacity:1;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: -23px;
    right: 163px;
    z-index: 999;
    color: #FFF;
    padding-right: 20px;
}

.fade_out {
	opacity:0 !important;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.alt_views.clearfix:hover > .view_toggle {
	opacity:1 !important;
}

.carat {
    position: absolute;
    top: 4px;
    right: 0;
    width: 14px;
    height: 7px;
    background: url(/images/arrows/Arrow_White_Up_Down.png ) no-repeat;
}

.caratdown {
    background-position: 0 -7px;
}
 /* channel extras - share block */
.share_custom {
    cursor: pointer;
    margin-right: 0;
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url(/images/related_media/sprites.png) no-repeat scroll 0 0 transparent;
/*    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;*/
}
.share_custom:hover {
    opacity: 0.7;
}
.share_custom.st_twitter_custom {background-position: -43px 0;}
.share_custom.st_facebook_custom {background-position: -127px 0;}
.share_custom.st_email_custom {background-position: -85px 0;}
.share_custom.st_sharethis_custom {background-position: 0 0;}


.feeds-status  {
    font-family: ag_schoolbook_regular;
	color: #4e4a48;
	font-size: 22px;
	font-weight: normal;
	margin-top: 31px;
}


span.triangle-badge{
    display: block;
    position: absolute;
    width: 41px;
    height: 41px;
    top: 0;
    left: 0;
    background: url("/img/new-badge.png") no-repeat;
}
.subnavs_wrap_int span.triangle-badge {
    top: 2px;
    left: 20px;
}