
        .im-z-player-top { z-index: 200; }
        .content.wall #channel-title h2 { display:none; }
        .content.wall #channel-title .dim-switch { display:none; }
        .content.wall #channel-player,  .content.wall #wall-player-wrapper { height: 720px; }
        .content.wall #channel-main #channel-info {
            height: 720px;
            margin-top: -720px;
        }
        .content.wall #channel-info a.expander:link,
        .content.wall #channel-info a.expander:visited,
        .content.wall #channel-info a.expander:hover,
        .content.wall #channel-info a.expander:active {
            top: 343px;
        }

body.wall-fullscreen #footer, body.wall-fullscreen #details,
body.wall-fullscreen #channel-media, body.wall-fullscreen #channel-browser,
body.wall-fullscreen #channel-title, body.wall-fullscreen #channel-info,
body.wall-fullscreen #channel-related  { display:none !important; }

body.wall-fullscreen #mid { padding: 0; width: auto !important; }

body.wall-fullscreen #mid div.content { margin-bottom: 0; }
body.wall-fullscreen .content.wall #channel-player { margin-bottom: 0; height:auto !important;}
body.wall-fullscreen .im-player-stage { height: auto !important; }
body.wall-fullscreen #mid #channel-main {
    display: block;
    background: none;
    border-radius: none;
    box-shadow: none;
    float: none;
    padding: 0;
    width: auto;
}

#tabs-container,
#tabs-container .presentation {
    margin-left:0px !important;
}

#tabs-container .presentation a {
    color:#777570;
    text-decoration: none;
}

#tabs-container .presentation a:hover {
    color:#3A3835;
    text-decoration: none;
}

#tabs-container .info-content {
    margin: 0 35px;
}

#tabs-container {
    margin-top:0px;
    margin-bottom:30px;
}
/* #?#
#mid #details {
    margin-top: 0px;
}
*/
#tabs-container .info-container {
    overflow:hidden;
}

#tabs-container div.hitter-slide {
    display:block;
    width:520px;
	height:293px;
    float:left;
    margin-left:0px;
	position:relative;
}

#tabs-container div.hitter-slide span.hitter-fact,
#tabs-container div.hitter-slide span.hitter-grant {
    display:block;
    width:450px;
    padding-left:35px;
}

#tabs-container div.hitter-slider {
    margin-left:0px; 
}

#tabs-container h4 {
    width:360px;
}

#tabs-container .next-arrow {
    z-index:1000;
}

#tabs-container div#fact-tab,
#tabs-container div#grant-tab {
    margin-left:0px;
}

#tabs-container #photo-tab,
#tabs-container #film-tab,
#tabs-container #collection-tab {
    margin: 0px;
    padding: 0px;
    height: 293px;
}

#tabs-container span.hitter-pagers {
    position: relative;
    z-index: 30;
    display: block;
    width: 520px;
    min-height: 16px;
}

#tabs-container span.hitter-counter {
    position: relative;
    z-index: 30;
    display: block;
    width: 520px;
    min-height: 16px;
    top:268px;

}

#tabs-container .info-container .promo {
    background: none;
}


#tabs-container .presentation #promo-read-more-text {
    overflow: hidden;
    width: 225px;
    margin-left:0px;
    display:block;
}

#tabs-container .presentation span.read-more {
    text-align: center;
    display: block;
    border-top: 1px solid #C6C3BD;
    padding-top: 9px;
    margin-left:0px;
    width: 225px;
}

#tabs-container .presentation #promo-read-more-container {
    padding-top: 8px;
    clear: both;
    margin-left:0px;
    width: 230px;
}

#tabs-container .presentation p {
    border-bottom: none;
}

#tabs-container .bp {
	margin-top: -41px;
	z-index: 4;
	position:absolute;
	top:50%;
	left:0;
	margin-left:0;
	display: block;
	width: 100%;
	background: url(/images/video-play-button.png) 50% 50% no-repeat;
	cursor: pointer;
	height: 83px;
}
#tabs-container .video-player{
	position:relative;
	z-index:10;
}
#tabs-container .film-bar,
#tabs-container .collection-bar {
	z-index: 99 !important;	
	position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 4px 12px 4px 2px;
    height: 20px;
    line-height: 20px; 
   /* text-align: center;*/
    overflow: hidden;
    margin-left:0px;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    opacity: 0.75;
    width: 513px;
    color: #FFF;   
}

#tabs-container .film-nav {
	float: right;
	padding-right: 8px;
}

#tabs-container .film-pagers {
    float: right;
}

#tabs-container .film-title {
    margin-left: 10px;
}

#tabs-container div.film-pager-more {
    margin-right: 13px;
}

#tabs-container .film-pagers a.arrow-right {
	position: relative;
	float: right;
	clear: none;
	display: block;
	width: 10px;
	height: 10px;
	background: transparent url(/images/arrow-sprite.png) -20px -100px no-repeat;
	margin-top: 5px;
}

#tabs-container .film-pagers a.arrow-left {
	position: relative;
	float: left;
	clear: none;
	display: block;
	width: 10px;
	height: 10px;
	background: transparent url(/images/arrow-sprite.png) -32px -100px no-repeat;
	margin-top: 5px;
}

#tabs-container .film-pagers .slides-current {    
    padding-right: 3px;
    padding-left: 2px;
}

#tabs-container .film-pagers .slides-total {    
    padding-left: 2px;
    padding-right: 4px;
}

#tabs-container .video-player div,
#tabs-container .galleria-wrapper,
#tabs-container .galleria-container,
#tabs-container .galleria-stage,
#tabs-container .galleria-images,
#tabs-container .galleria-image,
#tabs-container .galleria-galControls,
#tabs-container .galleria-rightNavBox,
#tabs-container .galleria-leftNavBox,
#tabs-container div.film-pagers,
#tabs-container span.more-info div
{
    margin-left:0px;
}

#tabs-container span.more-info div a {
    color: #333;
}

#tabs-container div.bonus-image,
#tabs-container div.bonus-embed {
    margin-left:-35px;
}
#tabs-container div.bonus-text {
    margin-left:0px;
    width:420px;
}


#tabs-container .galleria-container {
    width: 520px;
    height: 293px;
    position: absolute;
}


#tabs-container .galleria-thumbBtn,
#tabs-container .galleria-info-text,
#tabs-container .galleria-attachmentBtn
{
    display:none;
}

#tabs-container .galleria-galControls {
    padding: 6px 10px 8px 10px;
    color: #FFF !important;
    text-shadow: none;
}

#tabs-container .galleria-galControls p {
    color: #FFF !important;
    text-shadow: none;
}

#tabs-container .galleria-leftNavText {
    left: -10px;
}

#tabs-container .galleria-rightNavText {
    right: 20px;
}

#tabs-container .galleria-leftNavText  p,
#tabs-container .galleria-rightNavText p {
    text-shadow: none;
}

#tabs-container .galleria-slideshowBtn {
    /* display:none; */
}

#tabs-container .galleria-errors {
    display: none;
}

#tabs-container #hitter-slider-films {
    background-color: #000;
}

#tabs-container .galleria-loader {
   top: 146px !important;
   left: 240px !important;
}

.ui-tabs .ui-tabs-hide {
    display: block;
    position: absolute;
    left: -99999px;
}

.presentation span.read-less a::after {
    background-position: -11px -83px;
    width: 9px;
}
