@font-face {
    font-family: 'ag_schoolbook_regular';
    src: url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular.eot');
    src: url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular.eot?#iefix') format('embedded-opentype'),
    url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular.woff') format('woff'),
    url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular.ttf') format('truetype'),
    url('https://d3iylj2y99usb9.cloudfront.net/fonts/ag_schoolbook_regular') format('svg');
}
