/******************************************************************************************/
/* Slogan																											*/
/******************************************************************************************/

#footer div.slogan {
	width: 977px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 23px;
	color: #fff;
	position: relative;
	top: 7px;
}

#footer span.lead-text {
	font-size: 16px;
	font-weight: bold;
	color:#000;
}

#footer div.slogan div.mission-text {
	font-size:14px;
	color:#FFFFFF;
	margin-left:10px;
}

#footer div.slogan span.trail-text {
	color: #000000;
}

#footer div.slogan strong {
	color: #FFFFFF;
}

/******************************************************************************************/
/* Main Footer																										*/
/******************************************************************************************/

#footer .main {
	position: relative;
	top: 26px;
	display: block;
	width: 960px;
	height: 98px;
	margin: 0 auto;
	font-size:15px;
}

#footer .main div {
	position: relative;
	float: left;
	clear: none;
	display: block;
	overflow: hidden;
}

#footer .main .copy {
	width: 277px;
}

#footer div.main strong {
	color: #FFF;
}

/******************************************************************************************/
/* Navigations																			  */
/******************************************************************************************/

#footer .main .navs {
	width: 407px;
}

#footer .main .navs-left {
	width: 229px;
}

#footer .main .navs-right {
	width: 152px;
}

#footer .main .copy .navs {
    width: 190px;
    margin-top: 10px;
}

#footer .navs a:link,
#footer .navs a:visited,
#footer .navs a:hover,
#footer .navs a:active {
	display: block;
	width: auto;
	line-height: 22px;
	color: #FFFFFF;
}

#footer .navs a:hover {
	color: #2B2A28;
}


#footer .main .social {
	width: 260px;
	font-size: 14px;
	font-weight: bold;
}

#footer .main .social p {
	padding-bottom: 8px;
}

#footer .main .social a:link,
#footer .main .social a:visited,
#footer .main .social a:hover,
#footer .main .social a:active {
	float: left;
	clear: none;
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 7px;
}

/******************************************************************************************/
/* Social Buttons 																		  */
/******************************************************************************************/

div.social a.fb {
	background: transparent url(/images/social-sprite.png) 0 0px no-repeat;
	margin-left:10px;
}

div.social a.fb:hover {
	background: transparent url(/images/social-sprite.png) 0 -25px no-repeat;	
}

div.social a.twitter {
	background: transparent url(/images/social-sprite.png) -25px 0px no-repeat;	
}

div.social a.twitter:hover {
	background: transparent url(/images/social-sprite.png) -25px -25px no-repeat;	
}

div.social a.youtube {
	background: transparent url(/images/social-sprite.png) -50px 0px no-repeat;	
}

div.social a.youtube:hover {
	background: transparent url(/images/social-sprite.png) -50px -25px no-repeat;	
}

div.social a.vimeo {
	background: transparent url(/images/social-sprite.png) -75px 0px no-repeat;	
}

div.social a.vimeo:hover{
	background: transparent url(/images/social-sprite.png) -75px -25px no-repeat;	
}

div.social a.halo {
	background: transparent url(/images/social-sprite.png) -100px 0px no-repeat;	
}

div.social a.halo:hover {
	background: transparent url(/images/social-sprite.png) -100px -25px no-repeat;	
}

div.social a.rss {
	background: transparent url(/images/social-sprite.png) -125px 0px no-repeat;	
}

div.social a.rss:hover {
	background: transparent url(/images/social-sprite.png) -125px -25px no-repeat;	
}

/******************************************************************************************/
/* Newsletter SignUp Form																						*/
/******************************************************************************************/

#footer div.main .newsletter {
	width: 220px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}

#footer div.main div.newsletter p {
	padding: 7px 0 8px 0px;
}

#footer div.main div.newsletter form {
	display: block;
	width: 218px;
	height: 23px;
	text-align: left;
}

#footer div.main div.newsletter form input {
	float: left;
	clear: none;
	display: block;
	width: 188px;
	padding-right: 20px;
	padding-top: 1px;
	line-height: 23px;
	font-size: 11px;
	color: #3A3835;
	margin-left: 10px;
}

#footer div.main div.newsletter form a:link,
#footer div.main div.newsletter form a:visited,
#footer div.main div.newsletter form a:hover,
#footer div.main div.newsletter form a:active {
	position: absolute;
	clear: none;
	right: 0px;
	display: block;
	width: 17px;
	height: 23px;
	margin-top: 1px;
	background: transparent url(/images/arrows/Footer_SignUpTextfield_ArrowButton.png) center left no-repeat;
}

#footer div.main div.newsletter form a:hover {
	background-image: url(/images/arrows/Footer_SignUpTextfield_ArrowButton_Hover.png);
}

#footer .inv {
    display: none;
}