.galleria-container {
    height: 530px;
    position: relative;
    overflow: hidden;
    /*border: 1px solid #f5f4f2;*/ /* remove by rvs 2011-07-24 */
	background: #000;
	
	/* MICHES */
    background: #3a3834;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-container p {
    margin: 0;
    padding: 0;
}
.galleria-stage {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}
.galleria-thumbnails-container {
    position: absolute;
    z-index: 2;
	/*miches*/
    height: 41px;
	/* end */
    width: 100%!important;
    padding: 5px;
    top: 550px;
    left: 0 !important;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    *background-color: #000;
	 
}
.galleria-thumbnails-list {
    position: relative;
    height: 93%;
    overflow: hidden;
    top: 15px;

	/*miches*/
	height: 100%;
	top: 3px;
}
.galleria-thumbnails .galleria-image {


    height: 85px !important;
    width: 85px !important;
    background: #000;
    margin: 0 10px 0 0;
    border: 1px solid #000;
    float: left;
    cursor: pointer;

	/* miches */
	width: 59px !important;
	height: 33px !important;
	margin-right: 3px;
	
	border-color: none;
}

.galleria-thumbnails .galleria-image:hover {
	
	border: 1px solid  #dbd8d3;
	
	display: block;
	width: 30px;
	height: 33px;
}



.galleria-thumbnails .active {
    border-color: #fff;
}

.galleria-galControls {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    *background-color: #000;
    padding: 10px 10px;
    margin: 0;
    z-index: 3;
    height: 20px;
z-index: 30000;
	/* miches */
	background-color: #000;
}


/* miches - make them look gray */
.galleria-galControls div {
	
	opacity: 0.6;
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	filter: alpha(opacity=60);
}

/* end of miches */

.galleria-attachmentBtn, 
.galleria-fullscreenBtn,
.galleria-slideshowBtn,
.galleria-slideshowBtn-pause,
.galleria-slideshowBtn-play,
.galleria-thumbBtn, 
.galleria-info-link {
    position: relative;
    text-align: left;
    color: #fff !important;
    font: normal 11px/1 arial, sans-serif;
    z-index: 2;
    cursor: pointer;
    float: left;
    margin-right: 12px;
    margin-top: 2px;
}

.galleria-thumbBtn {
	
	margin-right: 1px;
	
}
.galleria-attachmentBtn a {
    color: #fff !important;
}
.galleria-creditField {
    position: relative;
    text-align: left;
    color: #fff;
    font: normal 11px/1 Georgia, "Times New Roman", Times, serif;
    z-index: 2;
    cursor: pointer;
    float: right;
    margin-right: 5px;
    letter-spacing: .2px;
}
.galleria-counter {
	
    position: relative;
    text-align: left;
    color: #fff;
    font: normal 12px/1 arial, sans-serif;
    float: left;
    margin-right: 10px;
    padding-top: 4px;
	 
	 /* MICHES */
	 
	 color: #999;
}
.galleria-loader {
    background: #000;
    width: 55px;
    height: 18px;
    position: absolute;
    top: 49% !important;
    left: 49% !important;
    z-index: 2;
    display: none;
    background: url(latphoto-loader.gif) no-repeat 0 0;
}
.galleria-info {
    width: 100%;
    bottom: 40px;
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    opacity: .8;
}

.galleria-info-text {
    background-color: #000;
    background-color: rgba(0, 0, 0, .9);
    *background-color: #000;
    padding: 12px;
    display: none;
}
.galleria-info-title {
    font: bold 12px/15px arial, sans-serif;
    margin: 0;
    color: #fff;
}
.galleria-info-description {
    font: 13px/1.4 georgia, serif;
    margin: 0;
    color: #ddd;
}
.galleria-info-title+.galleria-info-description {
    margin-top: 0;
}
.galleria-thumbnails-container .disabled, 
.galleria-thumbnails-container .disabled:hover {
    opacity: 1.0;
    cursor: default;
}
.galleria-thumb-nav-up, 
.galleria-thumb-nav-down, 
.galleria-bar-nav-right, 
.galleria-bar-nav-left, 
.galleria-image-nav-left, 
.galleria-image-nav-right {
    background: transparent url(latphoto_nav_small.png);
    background-repeat: no-repeat;
}

/* miches */
.galleria-image-nav-left,
.galleria-image-nav-right {
	
	background: none;
}


.galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 100%;
    height: 25px;
    left: 0;
}
.galleria-image-nav-left, 
.galleria-image-nav-right {
    opacity: .7;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 2;
}
.galleria-image-nav-left {
    background-position: 0 -27px;
    left: 0px;
}
.galleria-image-nav-right {
    background-position: 0 0;
    right: 0px;
}
.galleria-thumb-nav-up, 
.galleria-thumb-nav-down {
    position: absolute;
    cursor: pointer;
    display: none;
    border: none;
    width: 100%;
    height: 15px;
    z-index: 10;
    background-color: #2a2a2a;
    background-color: rgba(42, 42, 42, .8);
    *background-color: #2a2a2a;
}
.galleria-thumb-nav-up {
    background-position: center -85px;
    left: 0;
    top: 0;
}
.galleria-thumb-nav-down {
    background-position: center -70px;
    bottom: 10px;
}
.galleria-thumbBtn p, 
.galleria-slideshowBtn p,
.galleria-slideshowBtn-play p, 
.galleria-slideshowBtn-pause p, 
.galleria-attachmentBtn p, 
.galleria-fullscreenBtn p, 
.galleria-info-link p {
    background: transparent url(sub_icons.png);
    background-repeat: no-repeat;
    font-size: inherit;
    padding-left: 30px;
    height: 16px;
    line-height: 16px;
}
.galleria-thumbBtn p {
    background-position: 0 -112px;
}

.galleria-slideshowBtn p {
	
	background-position: 0 -280px;
	padding-left: 25px;
}

.galleria-slideshowBtn-pause p {
	
	background-position: 0 -307px;
	padding-left: 25px;
}

.galleria-attachmentBtn p {
    background-position: 0 -96px;
}
.galleria-info-link p {
    background-position: 0 -144px;
}
.galleria-fullscreenBtn {
    float: right;
}
.galleria-fullscreenBtn p {
    height: 14px;
    line-height: 14px;
    background-position: 0 -223px;
}
.galleria-fullscreenBtn p.ffOff {
    background-position: 0 -223px;
}
.galleria-fullscreenBtn p.ffOn {
    background-position: 0 -251px;
}
.galleria-creditField p {
    text-align: right;
    text-transform: uppercase;
    font-size: inherit;
    color: #787878;
    line-height: 20px;
}
.galleria-creditField a {
    text-transform: uppercase;
}
.galleria-bar-nav-right, 
.galleria-bar-nav-left {
    position: relative;
    text-align: left;
    color: #fff !important;
    z-index: 2;
    cursor: pointer;
    float: left;
    height: 13px;
    width: 11px;
}
.galleria-bar-nav-left {
    background-position: 0 -54px;
    margin: 3px 8px 0 5px;
}
.galleria-bar-nav-right {
    background-position: -14px -54px;
    margin: 3px 16px 0 0;
}
.galleria-rightNavBox, 
.galleria-leftNavBox {
	
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 82%; /*changed to 82% ------------------------------------------------*/
    cursor: pointer;
    z-index: 12;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0);
    *background-color: #000;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.galleria-rightNavBox {
    left: auto;
    right: 0;
}
.galleria-leftNavText, .galleria-rightNavText {
    position: absolute;
    z-index: 2;
    margin-top: 3px;
    height: 16px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .6);
    *background-color: #000;

	/* miches */
	 padding-bottom: 3px;
	 border-radius: 3px;
}
.galleria-leftNavText {
    left: 10px;
}
.galleria-rightNavText {
    right: 10px;
}
.galleria-leftNavText p, .galleria-rightNavText p {
    font: normal 10px/1 arial, sans-serif;
    line-height: 16px;
    padding: 2px 10px 2px 10px;
    color: #fff;

	 border-radius: 4px;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
}

/* miches */

.galleria-leftNavText  p {
	
	padding-left: 16px;
	padding-right: 8px;
	background: transparent url(/images/arrows/Arrow_White_Left.png) 5px 6px no-repeat;
}

.galleria-rightNavText p {

	padding-right: 16px;
	padding-left: 8px;
	background: transparent url(/images/arrows/Arrow_White_Right.png) 89% 6px no-repeat;
}

/* end of miches */

.entry-body .galleria-container img {
    border: none;
}

.galleria-info-link:hover, 
.galleria-thumbBtn:hover, 
.galleria-slideshowBtn:hover, 
.galleria-slideshowBtn-play:hover, 
.galleria-slideshowBtn-pause:hover, 
.galleria-attachmentBtn:hover, 
.galleria-fullscreenBtn:hover, 
.galleria-bar-nav-right:hover, 
.galleria-bar-nav-left:hover, 
.galleria-thumb-nav-up:hover, 
.galleria-thumb-nav-down:hover, 
.galleria-image-nav-left:hover, 
.galleria-image-nav-right:hover, 
.galleria-info-close:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
