#header {
	height: auto;
	background-repeat: repeat !important;
}
body.mega_dropdpwn_open #header {
    height: auto !important;
}
#header .main {
	width: 960px;
	margin: 0 auto;
	height: 110px;
	position: relative;
}
.clear_all {
	display: block;
	clear: both;
}
/* LOGO */
#header a.logo:link,
#header a.logo:visited,
#header a.logo:hover,
#header a.logo:active {
	float: left;
	display: block;
	width: 218px;
	height: 56px;
	margin-top: 26px;
	margin-left: 10px;
}
#header a.logo img {
	width: 218px !important;
	height: 56px !important;
}
/* SEARCH FORM XY */

#header form.site-search {
	margin-left: 14px;
	margin-top: 37px;
}
/* SIGNUP + LOGIN + FEEDBACK LINKS */

#header .actions {
	float: right;
	padding: 5px 0 4px;
	background: url(/images/header-rule-lg.png) no-repeat bottom left;
	text-align:right;
}
#header .actions li {
	float: left;
	padding: 0 15px;
	white-space: nowrap;
}
#header .actions li:first-child {
	padding-left: 0;
}
.signup-action {
	display: block;
}
.login-action {
	display: block;
	border-left: 1px solid #FFFFFF;
}
.logout-action {
	display: none;
    overflow: hidden;
    padding-left: 0 !important;
    /*width: 180px;*/
}
.feedback-action {
	border-left: 1px solid #FFFFFF;
    display: block;
    padding: 0 0 0 12px !important;
}
.signed-in .signup-action {
	display: none;
}
.signed-in .login-action {
	display: none;
}
.signed-in .logout-action {
	display: block;
	padding-left: 0px !important;
}
.signed-in .feedback-action {
	display: block;
}
#header .logout-action .user-name {
	height: 13px;
    overflow: hidden;
    white-space: nowrap;
    width: 91px;
}
#header .actions .profile {
	text-transform: uppercase;
	font-size: 15px;
	width:108px;
	float:left;
	font-weight:bold;
	letter-spacing: 1.1px;
}
.signed-in .download .tooltip-container {
	display: none;
}
.signed-in #header .actions a {
	display: block;
}
#header .actions a:link,
#header .actions a:visited,
#header .actions a:hover,
#header .actions a:active {
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 1.1px;
}
#header .actions a:hover {
	/* locale */
	color: #C3FBAD;
}
#header .actions a.activ {
	margin-left: 0;
	/* locale */
	color: #C3FBAD;
}
#header .actions span.arrow {
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	margin-top: 2px;
	/* locale */
	background: transparent url(/images/Explore_SouthAmerica_Sprite.png) -20px -30px no-repeat;
}
#header .slogan {
	float: right;
	clear: none;
	width: 412px;
	min-height: 1px;
	margin-top: 8px;
}
#header .slogan div {
	float: right;
	clear: none;
	display: block;
	width: 190px;
}
#header .slogan div p {
	width: 90%;
	line-height: 18px;
	font-size: 11px;
	color: #fff;
}
#header .slogan div:first-child {
	float: left;
	width: 412px;
}
#header .slogan div:first-child p {
	width: 100%;
}
#header .slogan div p:first-child {
	padding-bottom: 6px;
	font-size: 13px;
	font-weight: bold;
	/* locale */
	color: #203811;
}
#header .news-scroller li {
	list-style: disc;
	line-height: 18px;
	margin-left: 15px;
	text-indent: -4px;
	color: #fff;
}
#header .news-scroller li a:link,
#header .news-scroller li a:visited,
#header .news-scroller li a:active {
	color: #fff;
}
#header .news-scroller li a:hover {
	color: #C3FBAD;
}
/* MAIN NAVIGATIONS (channels, films, photos, grants) */

#header .navs-bg {
	z-index: 1;
	height: 39px;
}
#header .navs {
	position: relative;
	z-index: 95;
	display: block;
	margin: -39px auto 0px auto;
	line-height: 23px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	overflow: hidden;
}
#header .navs ul li {
	float: left;
	display: inline;
	margin-right: 0px;
}

#header .navs ul li.activ {
	/*background: transparent url(/images/GlobalNav_Tile_Button_Rollover.png?1) 0 0 repeat-x;*/
	background: rgba(255, 255, 255, 0.39);
}
/*#header .navs ul li a:link,
#header .navs ul li a:visited,
#header .navs ul li a:hover,
#header .navs ul li a:active {
	float: left;
	padding: 7px 22px 8px 22px;
	font-size: 24px;
	font-weight: bold;
	line-height: 23px;
	color: #fff;
	height: 23px;
	text-transform: lowercase;
	font-family: ag_schoolbook_regular;
	font-weight:normal;
}*/

li.grants {
	margin-left: -13px;
}

#header .navs ul li a b {
	display: inline-block;
    vertical-align: middle;
	height: 23px;
    width: 30px;
	background: transparent url(/images/arrow-down.png?1) no-repeat 5px center ;
}
#header .navs ul li a:hover {
	color:#fff !important;
	background: rgba(255, 255, 255, 0.20);
	/*color: #C3FBAD;*/
}
#header .navs ul li.activ a {
	color: #fff !important;
	line-height: 23px;
}
#header .navs ul li.activ a b {
	background-image: url(/images/arrow-down-green.png?1);
}
#header .navs ul li:first-child {
	width: auto;
	height: auto;
}
/*#header .navs ul li:first-child a:hover {
	color: #538b3b;
	background-image: url(/images/arrow-down-green.png);
}*/
#header .navs ul li:first-child {
	padding: 0;
}

li.external {
	margin-right: 18px !important;
}

#header .news-scroller li.solo_promo h4 {
    font-size: 13px;
}
/* SUB NAVIGATIONS */
#header div.subnavs {
	top: 22px;
	float: left;
	clear: both;
	display: block;
	width: 100% !important;
	background: #393836 url(/images/dd_top_shadow.gif) repeat-x 0 0;
}
#header div.subnavs div.pagers {
	height: 0;
	width: 0;
	background: none;
	margin: 0;
}
#header div.subnavs div.pagers a:link,
#header div.subnavs div.pagers a:visited,
#header div.subnavs div.pagers a:hover,
#header div.subnavs div.pagers a:active {
	float: left;
	clear: none;
	display: block;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	padding: 0;
}
#header div.subnavs div.pagers a:first-child {
	margin: 0;
}
#header div.subnavs .button_close,
#header div.subnavs .button_close:hover,
#header div.subnavs .button_close:active,
#header div.subnavs .button_close:visited {
	display: block;
	height: 15px !important;
	width: 15px !important;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	background-image: url(/images/x.gif);
	position: absolute;
	z-index: 50;
	right: -15px;
}
#header div.subnavs .button_close.bottom {
	bottom: 50px;
}
#header div.subnavs .pagination {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
	line-height: 1;
	padding: 0 0 5px;
	text-align: right;
    width: 100px;
}
#header div.subnavs .pagination .page {
	padding-right: 3px;
	font-weight: normal;
}
#header div.subnavs .pagination .number_of_pages {
	padding-left: 4px;
	font-weight: normal;
}
/*class added for no hover state when there's no pagination*/

#header div .subnavs div.pagers a.next-dont-hover {
	background-position: -21px -80px;
}
#header div.subnavs-channels div {
	float: left;
	clear: none;
	display: block;
	width: 234px; /* we have a border, so not 25% */
	height: 230px;
	background: url(/images/sep.gif) repeat-y 0 0;
}
#header div.subnavs-channels .subnavs_wrap .subnavs_wrap_int div:first-child {
	background-image: none;
	border: 0;
}
#header div.subnavs-channels a:link,
#header div.subnavs-channels a:visited,
#header div.subnavs-channels a:hover,
#header div.subnavs-channels a:active {
	height: 16px;
	width: auto;
	padding: 1px 9px 1px 6px;
	margin-bottom: 5px;
	line-height: 16px;
	font-size: 10px;
	color: #5D5A55;
}
#header div.subnavs-channels p.main-channel-actions a {
	padding: 2px 6px;
}
#header div.subnavs-channels p.main-channel-normal a {
	clear: both;
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: normal;
	margin-left: 3px;
	text-transform: none;
	width: 91%;
}
#header div.subnavs-channels div:first-child p.main-channel-normal a {
	margin-left: 0;
}
#header div.subnavs-channels p.main-channel-indicator {
	width: 92%;
	margin-left: 6px;
	margin-top:5px;
	margin-bottom: 4px;
	padding: 5px 0 7px 0;
	border: 1px solid #e2e1de;
	border-left: 0;
	border-right: 0;
	font-size: 14px;
	text-transform: lowercase;
	/* locale */
	color: #538b3b;
}
#header div.subnavs-channels p.main-channel-indicator span {
	clear: both;
	display: block;
	height: 23px;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}
#header div.subnavs-blogs div,
#header div.subnavs-photos div,
#header div.subnavs-films div,
#header div.subnavs-live-cams div,
#header div.subnavs-walls div {
	float: left;
	clear: none;
	display: block;
	margin-bottom: 15px;
	width: 188px;
	height: 162px;
}
#header div.subnavs-blogs div a,
#header div.subnavs-photos div a,
#header div.subnavs-films div a,
#header div.subnavs-live-cams div a,
#header div.subnavs-walls div a {
    position: relative; /* for badges */
    display:block;
}
#header div.subnavs-blogs div.last,
#header div.subnavs-photos div.last,
#header div.subnavs-films div.last,
#header div.subnavs-live-cams div.last,
#header div.subnavs-walls div.last {
	width: 185px;
}
#header div.subnavs-blogs img.thumb-film,
#header div.subnavs-photos img.thumb-film,
#header div.subnavs-films img.thumb-film,
#header div.subnavs-live-cams img.thumb-film,
#header div.subnavs-walls img.thumb-film {
	clear: both;
	display: block;
	height: 95px;
	width: 158px;
	margin: 0 18px;
	border: 2px solid #393836;
}
#header div.subnavs-blogs .bp,
#header div.subnavs-photos .bp,
#header div.subnavs-films .bp,
#header div.subnavs-live-cams .bp,
#header div.subnavs-walls .bp {
	display: none;
	height: 95px;
	width: 158px;
	margin: -90px 0 0 20px;
}
#header div.subnavs-blogs .bp:hover,
#header div.subnavs-photos .bp:hover,
#header div.subnavs-films .bp:hover,
#header div.subnavs-live-cams .bp:hover,
#header div.subnavs-walls .bp:hover {
	border: 2px solid #3a3835;
	height: 86px;
	width: 146px;
	margin: -90px 0 0 20px;
	display: block;
}
#header div.subnavs-blogs .item-title,
#header div.subnavs-photos .item-title,
#header div.subnavs-films .item-title,
#header div.subnavs-live-cams .item-title,
#header div.subnavs-walls .item-title {
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
	padding: 8px 20px 0 20px;
	color: #fff;
}
#header div.subnavs-live-cams .item-description,
#header div.subnavs-walls .item-description {
	font-size: 11px;
	display: none;
	font-weight: normal;
	text-transform: none;
	padding: 8px 20px 0 20px;
	color: #605b58;
	font-style: italic;
	line-height: 15px;
	max-height: 75px;
	overflow: hidden;
}
#header div.subnavs-live-cams .item-location,
#header div.subnavs-walls .item-location {
	font-size: 13px;
	display: block;
	font-weight: bold;
	text-transform: none;
	padding: 8px 20px 0 20px;
	color: #b2b2b2;
	font-style: italic;
	line-height: 15px;
}
#header div.subnavs-grants {
	padding-left: 0;
	width: 950px;
}
#header div.subnavs-grants div {
	float: left;
	clear: none;
	display: block;
	width: 313px;
	background: url(/images/sep.gif) repeat-y 0 0;
}
#header div.subnavs-grants div:first-child {
	background-image: none;
	border: 0;
	margin-left: 0px;
}
#header div.subnavs-grants a:link,
#header div.subnavs-grants a:visited,
#header div.subnavs-grants a:hover,
#header div.subnavs-grants a:active {
	display: block;
	width: 290px;
	height: 30px;
	margin-bottom: 25px;
	margin-left: 10px;
	padding: 2px 0;
	padding-left: 5px;
	font-size: 13px;
	line-height: 15px;
	font-weight: normal;
	text-transform: none;
	color: #b2b2b2;
}
#header div.subnavs-grants div a:link strong,
#header div.subnavs-grants div a:visited strong,
#header div.subnavs-grants div a:hover strong,
#header div.subnavs-grants div a:active strong {
	display: block;
	color: #fff;
	clear: both;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 5px;
}
#header div.subnavs-grants div a:hover {
}
#header div.subnavs-grants div a:hover strong {
	color: #fff;
}
.subnavs-films .special,
.subnavs-photos .special {
	display: None;
}

#header .news-scroller .solo_promo a {
    display: block;
    font-weight: bold;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
#header .news-scroller .solo_promo .post_title {
    font-size: 24px;
    float: none;
    display: block;
    line-height: 1.1em;
    max-height: 2.2em;
    overflow: hidden;
}
#header .news-scroller .solo_promo .topline {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 5px;
    font-weight: bold;
    float: none;
    display: block;
}
#header .news-scroller .solo_promo a img {
	width: 100%;
}
#header .news-scroller li.solo_promo {
	height: 74px;
	overflow: hidden;
	list-style: none outside none;
	margin-left: 12px;
	margin-top: 12px;
	text-indent: 0;
}
#header .news-scroller li.solo_promo div {
	float: left;
	height: 70px;
	margin-right: 12px;
	width: 123px;
}
#header .news-scroller li.solo_promo .post_image {
	float: left;
	height: 64px;
	margin-right: 12px;
	width: 117px;
    overflow: hidden;
    border: 3px solid transparent;
}
#header .news-scroller li.solo_promo a:hover .post_image {
    border-color: #fff;
}
#header .navs > ul {
	margin: 0 auto;
	width: 960px;
}
#header .navs .subnavs.subnavs-channels.subnavs-main p.main-channel-actions,
#header .navs .subnavs.subnavs-channels.subnavs-main p.main-channel-indicator {
	display: none;
}
#header div.subnavs .subnavs_wrap {
    height: 100%;
	display: block;
	overflow: hidden;
	background: url(/images/pix_2.gif) repeat-x 0 bottom;
}
#header div.subnavs .subnavs_wrap .subnavs_wrap_int {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 940px;
	padding: 30px 0 52px;
}
#header div.subnavs.subnavs-walls .subnavs_wrap .subnavs_wrap_int {
	padding-bottom: 20px;
}
#header div.subnavs-live-cams div:hover .item-location {
	color: #afafb1;
}
#header div.subnavs div.pagers a {
	color: #fff;
	font-size: 13px;
}
/* dropdown_arrows */
#header div.subnavs div.pagers a.prev {
	float: left;
    height: 91%;
    position: absolute;
    top: 23px;
    width: 100px;
	left: 0;
}
#header div.subnavs div.pagers a.next {
	float: right;
    height: 91%;
    position: absolute;
    top: 23px;
    width: 100px;
	right: 0;
}
#header div.subnavs div.pagers a.prev span,
#header div.subnavs div.pagers a.next span {
	display: block;
	width: 59px;
	height: 60px;
	position: absolute;
	top: 44%;
	overflow: hidden;
}
#header div.subnavs div.pagers a.prev span {
	left: -27px;
}
#header div.subnavs div.pagers a.next span {
	right: -27px;
}
/*------------------------------*/
/*#header .utility-actions {
	position:absolute;
	background: none;
	top:115px;
	left:700px;
    right: 0px;
	z-index:99;
	font-family: ag_schoolbook_regular;
}*/
#header .actions span.inline-arrow {
    display: inline;
    float: none;
    height: 10px;
    padding-left: 10px;
    width: 10px;
}
#header .news-scroller li.solo_promo p {
    font-size: 13px;
    font-weight: normal;
}
/*------------------------------*/
body .header_note_bar {
	background-repeat: repeat;
}
.header_note_bar .int_wrap_1 {
	background: url(/images/pix.png) repeat 0 0 transparent;
}
.header_note_bar .int_wrap_1 .int_wrap_2 {
	height: 30px;
	width: 960px;
	margin: 0 auto;
	color: #fff;
	font-size: 12px;
	line-height: 29px;
}
.header_note_bar .int_wrap_1 .int_wrap_2 .close {
	float: right;
	color: #fff;
}
.header_note_bar .int_wrap_1 .int_wrap_2 span {
}
.header_note_bar .int_wrap_1 .int_wrap_2 .link {
	color: #fff;
	text-decoration: underline;
}
.header_note_bar .flags {
	float: right;
	padding: 9px 30px 0 0;
}
.header_note_bar .flags a {
	float: left;
	margin-left: 7px;
}

#header .header_collapse {
	float: right;
	clear: none;
	width: 25px;
	height: 25px;
	margin-top: 23px;
    overflow: hidden;
    background: transparent url("/images/arrows/Arrow_White_Collapse_Sprite.png") 50% 0;
    text-indent: -9999px;
}

#header.closed .header_collapse {
    background-position: 50% 100%;
}
