.info-box {
	position: relative;
	float: left;
	background:#f9f7f4;
	display: block;
	width: 942px;
	padding: 9px;
	padding-bottom: 9px;
	background: #F9F7F4;
	/* modernizr */
	border-radius: 4px;
	box-shadow: 1px 1px 2px #999,  0 0 1px #e5e5e5;
	-moz-border-radius: 4px;
	-moz-box-shadow: 1px 1px 2px #999,  0 0 1px #e5e5e5;
	-webkit-border-radius: 4px;
	-webkit-box-shadow:
 1px 1px 2px #999,  0 0 1px #e5e5e5;
	behavior: url(/css/PIE.htc);
	zoom : 1;
	min-height:100px;
	margin-top:10px;
	margin-bottom:10px;
}
/* #?#
.cm-title{
	margin-top:10px;
	display:inline-block;
}
*/
.presentation {
	width:230px;
	float:left;
}
.presentation p {
	color:#3a3836;
	font-size:12px;
	padding-top:8px;
	border-bottom:1px solid #c6c3bd;
	padding-bottom:12px;
	line-height:1.4;
}
.presentation span.read-more {
	text-align:center;
	display:block;
	border-top:1px solid #FFF;
	padding-top:8px;
}
.presentation span.read-more a {
	color:#3a3836;
	font-size:10px;
	font-weight:bold;
	position:relative;
}
.presentation span.read-more a:after {
	content:".";
	text-indent:-9999px;
	background:url(../images/arrow-sprite.png) no-repeat;
	height:5px;
	width:8px;
	background-position:-1px -82px;
	display:block;
	position:absolute;
	right:-11px;
	top:4px;
}
.info-container {
	background:url(../images/bg.jpg) no-repeat;
	width:520px;
	height:293px;
	float:left;
	margin-left:10px;
	position:relative;
}

.info-container div#about-tab p, .info-container div#about-tab table {
	font-size:18px;
}

.info-container div#about-tab {
	font-family:ag_schoolbook_regular;
	font-weight:bold;
	font-size:20px;
	background: url(https://media-dev.explore.org/images/explore_info_bg.jpg) no-repeat;
	margin-left: 0px;
	width: 521px;
	height: 294px;
}

.info-container div#about-tab h4 {
	display:none;
}

.info-container div#about-tab p, .info-container div#about-tab table {
	color:#ffffff;
	text-shadow:none;
	position: relative;
	left: 0px;
	top: 59px;
	line-height: 30px;
	letter-spacing: .2px;
}

.info-container div#about-tab p strong{
	color:#d6dcd0;
	text-transform: uppercase;
}

.info-container div#about-tab p strong, .info-container div#about-tab table strong {
	color: #d6dcd0;
	text-transform: uppercase;
}

.info-container div#about-tab a:link, .info-container div#about-tab a:visited {
	color: #ffffff;
	position: relative;
	top: -9px;
	font-style: italic;
}

.info-container div#about-tab a:link:hover, .info-container div#about-tab a:visited:hover {
	text-decoration: underline;
}

.info-container div#about-tab p div, .info-container div#about-tab table div {
	width: 150px;
	float: left;
	clear: both;
	margin-right: 16px;
	text-align: right;
}

.info-container div#about-tab table tr td {
	padding: 0;
}

.tabs {
	float:left;
	width:172px;
	margin-left:10px;
}
.tabs li a {
	display:block;
	height:24px;
	font-size:13px;
	font-weight:bold;
	padding:9px 0 0 10px;
	margin-bottom:5px;
}
.tabs li a:hover {
	color: #3a3836;
}
.tabs li.ui-state-active a {
	padding-left:18px;
}
.info-content {
	margin:0 35px;
}
.info-container h4 {
	display:block;
	background:url(../images/labyrinth.png) no-repeat center left;
	font-size:20px;
	color:#777570;
	padding:20px 0 20px 60px;
	text-shadow: -1px 1px 1px #ffffff;
	border-bottom:1px solid #9d9994;
	-webkit-box-shadow: 0px 1px 0px 0px #ffffff;
	-moz-box-shadow: 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 1px 0px 0px #ffffff;
	margin-bottom:20px;
}
.info-container p, .info-container table {
	font-size:16px;
	color:#696460;
	line-height:1.6;
	text-shadow:2px 2px 0px #ffffff;
}
.info-container p strong, .info-container table strong {
	color:#3a3836;
}
.info-container table tr td {
	padding-right:5px;
}

.info-container table tr td a:link,
.info-container table tr td a:visited,
.info-container table tr td a:active {color: #696460;}
.info-container table tr td a:hover {color: #000;}

.slides {
	position:absolute;
	bottom:15px;
	right:15px;
	color:#333;
	font-size:13px;
	font-weight:bold;
}
.video-container, .story {
	margin:0;
}
.video-container img, .story img {
	width:520px;
	height:293px;
}
.story-overlay {
	position:absolute;
	width:140px;
	background:url(../images/overlay.png) repeat;
	right:0;
	top:0;
	height:253px;
	padding:20px;
}
.story-overlay p {
	font-size:14px;
	color:#f9f7f4;
	text-shadow:none;
}
.story-overlay h6 {
	font-size:16px;
	color:#777570;
}
.story-overlay h5 {
	color:#f9f7f4;
	font-size:20px;
	margin-top:40px;
}
.story-overlay em {
	font-size:16px;
	font-style:italic;
	color:#f9f7f4;
	margin-bottom:15px;
	display:block;
}
.more-info {
	color:#777570;
	font-size:26px;
	line-height:1.3;
}
.more-info strong {
	color:#3a3836;
	font-weight:100;
}
.promo {
	padding:20px;
	margin:0;
	padding-top:0;
	height:293px;
}
.promo h4 {
	text-shadow:1px 1px 0px #ffffff;
	background:none;
	padding-top:12px;
	padding-left:0;
	padding-bottom:12px;
}
.promo span.more-info {
	text-align:center;
	display:block;
	font-size:20px;
	margin-top:120px;
	text-shadow:1px 1px 0px #ffffff;
}
.prev-arrow {
	background:url(../images/paging-arrows.png) no-repeat;
	height:36px;
	width:19px;
	border:none;
	display:block;
	cursor:pointer;
	position:absolute;
	top:130px;
	left:0;
	z-index:10;
}
.next-arrow {
	background:url(../images/paging-arrows.png) no-repeat;
	height:36px;
	width:19px;
	border:none;
	background-position: bottom;
	display:block;
	cursor:pointer;
	position:absolute;
	top:130px;
	right:0;
	z-index:10;
}
/*Expandable bubble*/

.expandable-bubble {
	display:block;
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	padding:2px 23px 0 20px;
	height:17px;
	text-align:left;
	position:relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:2px;
}
.expandable-bubble:after {
	height:21px;
	width:9px;
	display:block;
	position:absolute;
	content:".";
	text-indent:-9999px;
	right:-7px;
	top:0;
	background-position: 0 -1px !important;
}
