/******************************************************************************************/
/* Main Styles																										*/
/******************************************************************************************/

h2,
h3,
.theme-color {
	color: #a0bc78;
}
a.btn:link,
a.btn:visited,
a.btn:hover,
a.btn:active,
#channel-extras .btn {
	color: #ddfaa4 !important;
	background-image: url(/themes/light-green/Sprite.png?1);
}
a.btn span,
#channel-extras .btn span {
	background-image: url(/themes/light-green/Sprite.png?1);
}
input.btn {
	color: #ddfaa4;
	background: url(/themes/light-green/comment-submit.png?1) no-repeat;
}
input.btn:hover {
	background-color: transparent !important;
	background-position: 0 -26px;
}
div.wbm {
	background-color: #a0bc78;
}
div.wb h3 {
	background: #a0bc78;
	background: -webkit-gradient(  linear,  left top,  left bottom,  color-stop(0, #aac782),  color-stop(1, #a0bc78) );
	background: -moz-linear-gradient(  center top,  #aac782 0%,  #a0bc78 100% );
	background: linear-gradient(center top,  #aac782 0%,  #a0bc78 100%);
	-pie-background: linear-gradient(center top,  #aac782 0%,  #a0bc78 100%);
	/*behavior: url(/css/PIE.htc);*/
	zoom : 1;
}
div.wb form.qotm textarea {
	color: #a0bc78;
}
.explore-mug-thumb {
	background-image: url(Sprite.png?1) !important;
}
.tooltip {
	color: #a0bc78 !important;
	border-color: #a0bc78;
}
.tooltip-arrow {
	background-image: url(./Modal_Arrow.png?1);
}
.up .tooltip-arrow {
	background-image: url(./Modal_Arrow_Up.png?1);
}
#header div.subnavs div.pagers a.prev span {
	background: url(./Sprite.png?1) no-repeat 0 -465px;
}
#header div.subnavs div.pagers a.next span {
	background: url(./Sprite.png?1) no-repeat -59px -465px;
}
#header div.subnavs div.pagers a.prev:hover span {
	background-position: 0 -525px;
}
#header div.subnavs div.pagers a.next:hover span {
	background-position: -59px -525px;
}
/******************************************************************************************/
/* Headers																											*/
/******************************************************************************************/

#header .navs-bg {
	background: #505F3C;
}

#header {
	background: transparent url(/themes/light-green/Header.jpg) top center no-repeat;
}
#header .news-scroller li a:hover {
	color: #ddfaa4;
}
#header .actions a:hover {
	color: #ddfaa4;
}
#header .actions a.activ {
	color: #ddfaa4;
}
#header .actions span.arrow {
	background: transparent url(/themes/light-green/LightArrow_Right.png?1) center left no-repeat;
}
#header .actions .profile {
	color: #ddfaa4;
}
#header .slogan div p:first-child {
	color: #505f3c;
}
#header .navs ul li a:hover {
	color: #ddfaa4;
}
#header .navs ul li a:hover b {
	background-image: url(/themes/light-green/LightArrow_Down.png?1);
}
#header .navs ul li.activ a:link,
#header .navs ul li.activ a:visited,
#header .navs ul li.activ a:hover,
#header .navs ul li.activ a:active {
	color: #a0bc78;
}
#header .navs ul li.activ a b {
	background-image: url(/themes/light-green/DarkArrow_Down.png?1);
}
#header div.subnavs {
	border-color: #a0bc78;
}
#header div.subnavs-channels p.main-channel-indicator {
	color: #a0bc78;
}
#channel-player .sidemodal .sidemodal-title p,
#channel-player .sidemodal .sidemodal-notes strong,
#channel-player .sidemodal .sidemodal-comments strong {
	color: #a0bc78;
}

#header div.subnavs-blogs div:hover img.thumb-film,
#header div.subnavs-photos div:hover img.thumb-film,
#header div.subnavs-films div:hover img.thumb-film,
#header div.subnavs-live-cams div:hover img.thumb-film,
#header div.subnavs-walls div:hover img.thumb-film {
	border-color: #a0bc78;
}
#header div.subnavs-blogs div:hover .item-title,
#header div.subnavs-photos div:hover .item-title,
#header div.subnavs-films div:hover .item-title,
#header div.subnavs-live-cams div:hover .item-title,
#header div.subnavs-walls div:hover .item-title {
	color: #a0bc78;
}
#header div.subnavs-grants .main-channel-normal a:hover strong {
	color: #a0bc78;
}
#header div.subnavs-channels a:hover,
#header div.subnavs-channels a.activ,
#header div.subnavs-channels a:active {
	font-weight: bold !important;
	color: #a0bc78 !important;
}

/******************************************************************************************/
/* Channel browser, pagers, thumbnail off + on states													*/
/******************************************************************************************/

#channel-info a.expander:link,
#channel-info a.expander:visited,
#channel-info a.expander:hover,
#channel-info a.expander:active {
	background: transparent url(/themes/light-green/Sprite.png?1) 0 -110px no-repeat;
}
a.expander.notes:link,
a.expander.notes:visited {
	background: transparent url(/themes/light-green/Sprite.png?1) -40px -110px no-repeat;
}
a.expander.notes:hover,
a.expander.notes:active {
	background: transparent url(/themes/light-green/Sprite.png?1) -40px -144px no-repeat;
}
#channel-info a.close:link,
#channel-info a.close:visited,
#channel-info a.close:hover,
#channel-info a.close:active,
.sidemodal a.close:link,
.sidemodal a.close:visited,
.sidemodal a.close:hover,
.sidemodal a.close:active {
	background: transparent url(/themes/light-green/Sprite.png?1) 0 -190px no-repeat;
}
.sidemodal a.sidemodal-button:link,
.sidemodal a.sidemodal-button:visited {
	background: transparent url(/themes/light-green/Sprite.png?1) -80px -110px no-repeat;
}
.sidemodal a.sidemodal-button:hover,
.sidemodal a.sidemodal-button:active {
	background: transparent url(/themes/light-green/Sprite.png?1) -80px -144px no-repeat;
}
#channel-info a.expander:hover {
	background: transparent url(/themes/light-green/Sprite.png?1) 0 -144px no-repeat;
}
.info-text p span.title, .info-text p.info-title {
	color: #a0bc78;
}
h2 .cm-title, span.details-header span.channel-title {
	color: #a0bc78 !important;
}
.live-cams #time-weather .main {
	color: #a0bc78 !important;
}
/******************************************************************************************/
/* Channel search results																						*/
/******************************************************************************************/

.channel-results h2 span {
	color: #a0bc78;
}

.channel-results h2 span {
	color: #538B3B;
}

#header .slogan div p:first-child,
#header .news-scroller li.solo_promo h4,
#header .news-scroller li.solo_promo h4 a,
#header .news-scroller li.solo_promo .post_title {
    color: #505F3C;
}
#header .actions a:hover,
#header .news-scroller li.solo_promo h4 a:hover,
#header .news-scroller li.solo_promo a:hover .post_title{
    color: #DDFAA4;
}

#channel-related ul.related-actions li a:hover,
#channel-related ul.related-actions li a.activ:hover,
#channel-related ul.related-actions li a.activ {
	background-color: #a0bc78;
	color:#ffffff;
}
/*#channel-related ul.related-actions li a:hover span.arg {
	background: transparent url(/themes/light-green/Sprite.png?1) 2px -590px no-repeat;
}
#channel-related ul.related-actions li a.activ:hover span.arg {
	background: transparent url(/themes/light-green/Sprite.png?1) -16px -590px no-repeat;
}*/

/******************************************************************************************/
/* Tabs additions																						*/
/******************************************************************************************/


.tabs li a {
	background:url(tabs-sprite.png?1) no-repeat;
	background-position:-1px -34px;
	color: #8aa860;
}
.tabs li.ui-state-active a{
	background-position: -1px -1px;
	color:#3a3836;
}

.info-container .promo{
	background:url(../../images/promo-light-green.png?1) no-repeat;
}
.info-container .promo h4{
	color:#a0bc78;
	border-bottom:1px solid #a0bc78;
}
.promo span.more-info{
	color:#a0bc78;
}

/*Expandable bubble*/

.expandable-bubble{
	border:1px solid #a0bc78;
}
.expandable-bubble:after{
	background:url(bubble-right.png?1) no-repeat;
}


.links-entry h4 a{
	color:#a0bc78;
}

.header_note_bar {
	background: transparent url(/themes/light-green/Header.jpg) top center no-repeat;
}

#all-snapshots {background-color: #8aa860;}

/******************************************************************************************/
/* Livefyre																				  */
/******************************************************************************************/

.fyre-outer.small .fyre a.fyre-comment-username, /* username link */
.fyre-outer.small .fyre .fyre-mention span, /* reply @ username */
.fyre-outer.small .fyre .fyre-mention, /* reply @ username */
.fyre-outer .fyre .fyre-comment p a { /* hyperlinks inside of comments */
	color:#8aa860 !important;
}

.fyre-outer .fyre .fyre-editor .fyre-editor-toolbar .fyre-button-left:hover, /* pencil, @, attach image, follow buttons */
.fyre-outer.small .fyre-editor .fyre-editor-toolbar .fyre-button-right.fyre-share-button:hover, /* share button */
.fyre-outer .fyre .fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right.fyre-post-button:hover { /* submit button */
	background-color: #8aa860;
}

.fyre-velocity {
	background-color: #8aa860 !important;
}

.fyre .fyre-stream-more .fyre-stream-more-container .fyre-text {
	color:#FFF !important;
}

.fyre .fyre-stream-more .fyre-stream-more-container,
.fyre-outer.small .fyre .fyre-comment-like-count,
.fyre .fyre-comment-divider .fyre-comment-reply-count {
	background-color:#8aa860 !important;
}

.fyre-outer.small .fyre .fyre-featured-content-wrapper .fyre-featured-body .fyre-comment-wrapper {
	border: 3px solid #8aa860 !important;
}
