.modals {

	float: left;
	
	display: block;

	background: #fff;	
	border: 2px solid #3a3835;

	/* modernizr */
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	
	box-shadow: 1px 2px 2px 1px #444;
	-moz-box-shadow: 1px 2px 2px 1px #444;
	-webkit-box-shadow: 1px 2px 2px 0px #444;

	
	behavior: url(/css/PIE.htc);
	zoom : 1;
	/*display: none;*/
}

.janrainHeader {
	display:none !important;
}

.janrainContent {
	border:none !important;
	position: relative !important;
	left: -23px !important;
}

.janrainPage ul.providers li {
	width:150px !important;
}

#janrainProviderPages + div {
	display:none !important;
}

#janrainAuthReturnExperience {
	width:308px !important;
}

.modals .connector {
	
	position: relative;
	left: 32px;
	z-index: 1; 

	display: block;
	width: 15px;
	height: 8px;

	margin-top: -8px;

	background: transparent url(/images/ChannelBrowser_ArrowUp.png) 0 0 no-repeat;
}

.modals .head {
	display: block;
	height: 20px;
	width: 100%;
	overflow: hidden;
	line-height: 18px;
	color: #fff;
	background: #3a3836;
}

.modals .head span {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    text-transform: lowercase;
}

.modals .head .close{
	float: right;
        margin-right: -2px;
}

.modals .head .close a{
    background: url('/images/preview-close.png') no-repeat 0 0 transparent;
    float: right;
    height: 9px;
    width: 10px;
    margin: 5px 0 0 0;
}
.modals .head .close a:hover {
    background: url("/images/preview-close.png") no-repeat scroll 0 -9px transparent;
}
.modals .head a:link,
.modals .head a:visited,
.modals .head a:active {

	float: right;

	padding-right: 10px;
	
	font-size: 10px;
	text-transform: uppercase;

	color: #fff;
}


.modals .head a span {
	
	font-size: 10px;
}


.modals .head a span.arw {
	
	margin-top: 4px;
	padding: 0;
}
	

.modals .info {
    color: #3A3836;
    float: left;
    font-size: 11px;
    padding: 8px 10px 5px 8px;
}


.modals .info p {
	font-style: italic;
    line-height: 15px;
}
.modals .info p.desc {
padding: 0 0 0 3px;
}

.modals.channel-browser-modal .info p.desc {
    color: #74726d;
}

.modals .info a span {
	
	font-weight: bold;
	text-transform: uppercase;

	color: #3A3836;

}

.modals .info a:hover span {
	color: #77716d;
}
.modals .info .feature a:hover .trt span.duration {
	color: #fff;
}
.modals .info a.hoverScroll:hover span {
	color: #fff;
}

.modals .info .rwg {
	
	margin: 5px 0;
}

.tab-links {
	float: left;
	display: block;
	height: 17px;
	width: 100%;
	margin-top: 10px;
	border-bottom: 1px solid #b0ada7;
}

.tab-links li {
	float: left;
	clear: none;
	height: 17px;
	margin-right: 1px;
}

.tab-links li a:link,
.tab-links li a:visited,
.tab-links li a:hover,
.tab-links li a:active {
	display: block;
	height: 17px;
	padding: 0 5px;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3A3836;
}

.tab-links li a:hover,
.tab-links li a.activ {
	color: #fff;
	background: #b0ada7;
}

/* begin */
.tab-links {
	float: left;
	display: block;
	height: 17px;
	width: 100%;
	margin-top: 10px;
	border-bottom: 1px solid #74726d;
}

.tab-links li {
	float: left;
	clear: none;
	height: 17px;
	margin-right: 1px;
    border:  1px solid #74726d;
    border-bottom: none;
}

.tab-links li a:link,
.tab-links li a:visited,
.tab-links li a:hover,
.tab-links li a:active {
	display: block;
	height: 16px;
	padding: 0 5px;
	line-height: 16px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #74726d;
}

.tab-links li a:hover,
.tab-links li a.activ {
	color: #fff;
	background: #74726d;
}

/* end*/

.modals ul.items {
	
	float: left;
	clear: none;
	
	display: block;
	width: 146px;

	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.modals ul.items li {
	
	clear: both;
	display: block;
}

.modals ul.items li a:link,
.modals ul.items li a:visited,
.modals ul.items li a:hover,
.modals ul.items li a:active {
    color: #3A3836;
    display: block;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 2px;
    text-indent: 4px;
    width: 100%;
}

.modals ul.items li a:hover {
	
	color: #fff;
	background: #b0ada7;
}

.modals .feature {
	position: relative;
	float:right;
	clear: none;
	display: block;
	width: 123px;
	height: 100px;
	padding-top: 10px;
}
.modals .feature .trt{
	position: absolute;
	display: none;
	right: 0;
	bottom: 30px;
	padding: 2px 7px 3px 5px;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	width: 40px;
	height: 12px;
	font-size: 10px;
}
.modals .feature .duration{
	color: #fff;
	filter: alpha(opacity=100);  /* Internet Explorer */
	opacity:1;  /* standard CSS3 */
}

/*
.modals .feature .duration{
	position: absolute;
	display: none;
    opacity: 0.7;
	right: 0;
	bottom: 30px;
	padding: 4px 5px;
	color: #fff;
	background: #000;
	width: 40px;
	height: 13px;
	font-size: 11px;
}
*/
.modals .feature .festival{
    color: #e0591e;
    display:none;
    font-style: italic;
}
.modals .feature img.thumb {
	
	display: block;
	width: 123px;
	height: 70px;

	overflow: hidden;

	margin-bottom: 5px;
}

.modals .feature p { overflow: hidden; max-height: 47px; color: #74726B; }

.modals .feature a span.bp {
	position: absolute;
	margin-top: -75px;
	z-index: 1;
	display: block;
	width: 123px;
	height: 70px;
	background: transparent url(/images/Video_PlayArrow28x28.png) center center no-repeat;
}

/*need a class to disable showing .info .feature .bp on photos*/
.modals .feature a.photo-album span.bp{
background: none;
}

.modals .feature a:hover span.bp {
	
	display: block;
}



.channel-browser-modal {

	float: left;
	
	width: 295px !important;
}

.modals .more {
border-top: 1px solid #B0ADA7;
clear: both;
display: block;
font-size: 10px;
font-weight: bold;
height: 10px;
margin-left: 4px;
padding: 5px 0 2px;
}

.modals .more .view-all {
    display: block;
    float: right;
    margin-right: -2px;
}

.modals .more .view-all a span{
	text-transform: uppercase;
	font-size: 10px;
}
.modals .more .view-all a .arw {
margin-top: 1px;  /*in my files this makes the arrow not aligned, but in your files it looks like it will align it*/
background: url(/images/arrow-sprite.png) no-repeat -20px -80px;
}
.modals .more .view-all a:hover .arw {
background-position: -20px -90px;
}

/********************************************************** POPUPS **********************************************************/

a.tip:link,
a.tip:visited,
a.tip:hover,
a.tip:active {

	font-size: 10px;
	text-transform: uppercase;

	color: #3a3835; 
}

a.tip:hover {
	
	color: #538b3b;
}

.modals-popup {

	z-index: 20000;

	float: left;

	display: block;

	overflow: hidden;

	padding: 0;
	border: 2px solid #558B3D;

	background: transparent url(/images/banner-sprite.png) 0 0 no-repeat;

	/* modernizr */
	border-radius: 8px;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	behavior: url(/css/PIE.htc);
	zoom : 1;
	/*display: none;*/
}

.modals-popup h4 {

	height: 60px;

	line-height: 60px;
	font-size: 15px;
	
	
	color: #000; /* or dark gray */
}

.modals-popup .head {

	position: relative;	

	display: block;
	width: 100%;
	height: 75px;

	/*border-radius: */
}

.modals-popup .head a:link,
.modals-popup .head a:visited,
.modals-popup .head a:active {
	
	color: #fff;
}


.modals-popup .head  a:hover{
	color: #3a3835;
}

.modals-popup .head a.closer:link,
.modals-popup .head a.closer:visited,
.modals-popup .head a.closer:hover,
.modals-popup .head a.closer:active {

	float: right;

	display: block;
	width: 15px;
	height: 15px;

	margin-top: 12px;
	margin-right: 2px; /* doesn't align right nicely */

	background: transparent url(/images/arrow-sprite.png) 0 -175px;
}

.modals-popup .head .left,
.modals-popup .head .right {

	float: left;	
	clear: none;

	display: block;
	width: 30%;
	height: 100%;

	padding-left: 23px;
	line-height: 75px;
	
	font-size: 50px;
	font-weight: normal;

	color: #fff;
}

.modals-popup .head .left {
	
	font-weight: bold;
}


.modals-popup .head .right {
	
	float: right;

	padding: 0 10px 0 0 ;
	line-height: 11px;
	
	font-size: 11px;
}

.modals-popup .head .right p {

	display: block;
	height: 24px;

	margin-top: 55px;
}

.modals-popup .head .right p a {
	
	float: right;
}


.modals-popup .head a:hover span.arw {

    background-position:  -40px -100px;
}

.modals-popup .info {

	float: left;
	clear: both;
	
	display: block;
	width: 100%;

	background: #fff;

    border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	
	behavior: url(/css/PIE.htc);
zoom : 1;
}

.modals-popup .info .left,
.modals-popup .info .right {

	position: relative;

	float: left;
	clear: none;
	
	display: block;
	width: 50%;
	height: 100%;

	min-height: 10px;
}


.modals-popup .info .right {
	
	background: #eceae7;

	/* modern */
	
	/* this fixes the issue with webkits with bleeding rounded corners */
	-webkit-border-bottom-right-radius: 5px;	
	border-bottom-right-radius: 4px;
	behavior: url(/css/PIE.htc);
	zoom : 1;
}

.modals-popup .info .top {

	float: left;

	width: 90%;
	min-height: 20px;
	
	padding: 20px 25px 20px 23px;
	line-height: 16px;

	font-size: 12px;

	background: #fff;
}

.modals-popup .info .bottom {

	position: relative;
	float: left;
	clear: both;

	display: block;
	width: 90%;

	/* padding: 20px 25px; */
	padding: 20px 25px 20px 23px;
	background: none;

}

.modals-popup .info .top .left {

	float: left;
	clear: none;
	
	width: 200px;
}

.modals-popup .info .top .right {
	
	float: left;
	clear: none;

	padding-left: 20px;
}

.modals-popup .info .top .right p strong {
	
	margin-right: 5px;
}

.modals-popup .info .bottom p.note {

	padding-bottom: 20px;
	line-height: 14px;
	
	font-size: 12px;
}

.modals-popup .info .bottom p.note span {
	
	font-style: italic;
}

.modals-popup ul.hyphens {

	margin-top: -10px;	
}

.modals-popup ul.hyphens li {

	line-height: 18px;

	font-size: 12px;

	color: #000;
}

.modals-popup ul.hyphens li:before {
	
	content: "- ";
}



.modals-popup div.pagers {
	
	position: relative;
	left: 0;

	float: left;

	display: block;
	width: 90%;
	height: 1px;
}

.modals-popup div.pagers a:link,
.modals-popup div.pagers a:visited,
.modals-popup div.pagers a:hover,
.modals-popup div.pagers a:active {

	clear: none;

	display: block;
	width: 14px;
	height: 14px;

	background: transparent url(/images/arrow-sprite.png) 0 0 no-repeat;
}


.modals-popup div.pagers a.prev:link,
.modals-popup div.pagers a.prev:visited,
.modals-popup div.pagers a.prev:hover,
.modals-popup div.pagers a.prev:active {

	position: absolute;
	left: 4px;

	float: left;

	margin-top: -92px;
	margin-left: -25px;
	
	background-position: -40px -113px;
}

.modals-popup div.pagers a.next:link,
.modals-popup div.pagers a.next:visited,
.modals-popup div.pagers a.next:hover,
.modals-popup div.pagers a.next:active {

	position: absolute;

	right: -20px;

	float: right;

	margin-top: -92px;	

	background-position: -30px -113px;
}


.modals-popup div.pagers a.prev:hover {
	
	background-position: -40px -127px;
}

.modals-popup div.pagers a.next:hover {
	
	background-position: -30px -127px;
}



.modals-popup form p {

	float: left;
	clear: both;

	display: block;
	width: 100%;
	
	margin-bottom: 15px;
}

.modals-popup form label {
	
	display: block;

	padding-left: 3px;
	padding-bottom: 3px;

	font-size: 12px;

	color: #3a3835;
    text-transform: lowercase;
}


.modals-popup form p.checkbox {

	float: left;
	clear: both;

	display: block;
	width: 100%;

	margin-bottom: 10px;
}

.modals-popup form p.checkbox-first {
	
	margin-top: 0px;
}

.modals-popup form p.checkbox label {

	float: left;

	display: block;
	width: 90%;
	padding: 0;
	padding-left: 10px;

	font-size: 11px;
}

.modals-popup form p.btns {
	
	margin-top: 10px;
}

.modals-popup form p.btns a {

	float: none;
	
	margin: 0 auto;
	
	font-size: 14px;
}

.modals-popup form input {

	height: 30px;
	width: 95%;
	line-height:30px;
	padding-left: 8px;
	
	font-family: Arial; /* some weird things happen */
	font-size: 14px;

	color: #538B3B;
}

.modals-popup form input.error {
	
	border: 2px solid #e0591e;
	width: 94%;
	height: 28px;
	
	/* modern */
	box-shadow: none;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.modals-popup form textarea.error{
    border: 2px solid #e0591e;
	width: 94%;
	height: 28px;
	
	/* modern */
	box-shadow: none;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;

}

.modals-popup form input[type="checkbox"] {

	position: relative;

	float: left;
	clear: left;

	display: block;	
	width: auto;
	height: auto;

	margin: 0;

	padding: 0;
	padding-bottom: 2px;
}


.modals-popup form p span {

	float: left;
	clear: none;
	
	display: block;

	margin-left: 21px;
}

/*xxx a tbj */
.modals-popup.signup-modal form p span #id_password,
.modals-popup.signup-modal form p span #id_password_confirm,{
	width: 45%
}

.modals-popup form p span:first-child {
	
	margin-left: 0;
}

.modals-popup form select {
	
	width: 100%;
}

.modals-popup form a:link,
.modals-popup form a:visited,
.modals-popup form a:hover,
.modals-popup form a:active {
		
	color: #538b3b;
}





.modals-popup p span.force-bottom {

	float: right;

	width: 95px;
	
	margin-top: 35px;
	padding-right: 0;

	text-align: right;
}

.modals-popup p span.force-bottom label {
	
	width: auto;
	margin-top: -1px;
}

.modals-popup .third-parties-wrapper {
    margin-top: 10px;
    height: 132px;
}

.login-modal .third-parties-wrapper {
    height: 156px;
}

.modals-popup .third-parties-page {
    display: none;
}
.modals-popup .third-parties-page.active {
    display: block;
}


.modals-popup ul.third-parties{

	clear: both;
	
	display: block;
	width: 100%;
}

.modals-popup ul.third-parties li {

	float: left;
	clear: none;

	margin-right: 15px;
	margin-bottom: 15px;

	/*display: none;*/
}
/*
.modals-popup ul.third-parties li.activ {
	
	display: block;
}
*/
.modals-popup p.error {
	
	display: block;
	width: 97%;
	min-height: 10px;
	
	line-height: 20px;
	
	font-size: 12px;
	padding: 5px;
	padding-left: 10px;
	
	color: #fff;
	background: #e0591e;
	
	/* modern */
	border-radius: 4px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(/css/PIE.htc);
	zoom : 1;
}

.modals-popup label.error,
.modals-popup label.error a:link,
.modals-popup label.error a:visited,
.modals-popup label.error a:hover,
.modals-popup label.error a:active {
	
	color: #e0591e;
	font-weight: normal;
}

/********************************************************** SIGNUP **********************************************************/

.signup-modal, .login-modal, .feedback_modal, .contact-modal {
	
	
	width: 670px;
	min-height: 480px;


}

.signup-modal .head, .login-modal .head, .feedback-modal .head , .contact-modal .head {
	
	width: 100%;
}

.signup-modal .info {
	
	min-height: 416px;
}

.signup-modal .info .left {
	
	width: 295px;
	padding-left: 25px;
}

.signup-modal .info .right {
	
	min-height: 416px;
	width: 300px;

	padding: 0 25px;
}


.signup-modal p {
	
	clear: both;
}

.signup-modal p:first-child {

	margin-top: -7px;	
}

.signup-modal a.tip:hover span.tb {
	
	background-position: -11px -146px;
}

.signup-modal span.tooltip {
	
	color: #538b3b !important;
	border: 2px solid #538b3b;
		/* modern */
	box-shadow: 2px 2px 5px #aaa;
	-moz-box-shadow: 2px 2px 5px #aaa;
	-webkit-box-shadow: 2px 2px 5px #aaa;
	
	border-radius: 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	
	behavior: url(/css/PIE.htc);
	zoom : 1;
}


/********************************************************** LOGIN **********************************************************/

.login-modal {
	
	border-color: #e1591f;
	min-height: 90px;

	background-position: 0 -90px;
	
}

.login-modal .head {

}

.login-modal .head a.closer:link,
.login-modal .head a.closer:visited,
.login-modal .head a.closer:hover,
.login-modal .head a.closer:active {
	
	background-position: -15px -175px;
}


.login-modal .info .left {

	width: 295px;
	padding-left: 25px;
	padding-bottom: 8px;
}

.login-modal .info .right {

	display: block;
	width: 300px;
	min-height: 253px;
	padding: 0 25px;
	padding-bottom: 0px;

}

.login-modal .info ul.third-parties{

	clear: both;
	
	display: block;
	width: 100%;

}

.login-modal p {
	
	clear: both;
}

.login-modal p:first-child {
	margin-top: -7px;
}

.login-modal form input {
	
	color: #e1591f;
}

.login-modal form p span {
	
	width: 60%;
}

.login-modal a.tip:hover {
	
	color: #e1591f;
}

.login-modal a.tip:hover span.tb {
	
	background-position: -22px -146px;
}

.login-modal span.tooltip {
	
	color: #e1591f !important;
	border: 2px solid #e1591f;
		/* modern */
	box-shadow: 2px 2px 4px #aaa;
	-moz-box-shadow: 2px 2px 5px #aaa;
	-webkit-box-shadow: 2px 2px 5px #aaa;
	
		border-radius: 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	
	behavior: url(/css/PIE.htc);
	zoom : 1;
}


.modals-popup.login-modal .forgot-password {
	margin: 5px 0 0 0px;
}
.modals-popup.login-modal .forgot-password a{
	color: #e0591e;
	font-weight: bold;
}

.login-modal div.head div.right {
	width: 145px;
}


/********************************************************** THIRD PARTY**********************************************************/

.third-party .info .left {
	padding-bottom: 0;
}

.third-party ul.third-parties {
    margin-top:0px;
}

.modals-popup form#third-party-form input{
	background: #eceae7;
	width: 260px;
	box-shadow: 1px 2px 1px #b5b4b2 inset;
}
.modals-popup form#third-party-form label{
	color: #3a3836;
	font-size: 13px;
	margin: 10px 0 2px -5px;
}
.modals-popup.third-party .another-account {
	margin-bottom: 2px;
	margin-top: -9px;
}

.login-modal.third-party .another-account a{
	color: #e0591e;
	font-weight: bold;
}
.signup-modal.third-party .another-account a{
	color: #538b3b;
	font-weight: bold;
}

.third-party .info .overlay{
	background: transparent url(/images/white-transparent-55.png) repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 260px;
	z-index: 9;
}
.signup-modal.third-party .info .overlay {
    height: 416px;
}
.modals-popup.third-party .forgot-password {
	margin: 5px 0 0 0px;
}
.modals-popup.third-party .forgot-password a{
	color: #e0591e;
	font-weight: bold;
}

.third-party .info .right a.btn-gen-orange:link, .third-party .info .right a.btn-gen-orange:visited, .third-party .info .right a.btn-gen-orange:hover, a.btn-gen-orange:active,
.third-party .info .right a.btn-gen-green:link, .third-party .info .right a.btn-gen-green:visited, .third-party .info .right a.btn-gen-green:hover, a.btn-gen-green:active{
    background-position: 0 -281px;
    color: #85807c !important;
    text-shadow: 0 1px 1px #fff;
}

#third-party-form { display: none; margin-top: 15px; }

.login-modal.third-party #third-party-form, .signup-modal.third-party #third-party-form { display: block; }
.signup-modal.third-party #third-party-form { height:152px; }

.login-modal.third-party .providers-block,
.login-modal.third-party .left p.whats-this,
.signup-modal.third-party .providers-block,
.signup-modal.third-party .left p.whats-this { display: none; }

.modals-popup h2 {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
    text-shadow: none;
}

.signup-modal.third-party .left a.btn-gen-orange {
    color: #C3FBAD !important;
    text-decoration: none;
    background-position: 0 0;
}
.signup-modal.third-party .left a.btn-gen-orange:hover {
    background-position: 0 -108px;
}

.signup-modal.associate .top .email {
    margin-top: 10px;
    color: #538B3B;
    font-size: 14px;
}
.modals-popup.signup-modal.associate {
    width:500px;
}
.modals-popup.signup-modal.associate .head .left { width: 300px !important; }
.modals-popup.signup-modal.associate form label { display: inline; padding-right: 10px; }
.modals-popup.signup-modal.associate form input { width: 220px; }
.modals-popup.signup-modal.associate .bottom p:first-child { font-size: 12px; width: 360px; }
.modals-popup.signup-modal.associate .bottom ul.third-parties { position: relative; top: -4px; left: -1px; }
.modals-popup.signup-modal.associate .bottom ul.third-parties li { margin-bottom: 0px; }
.modals-popup.signup-modal.almost-done form input { width: 75%; }
/********************************************************** FEEDBACK *******************************************************/


.feedback-modal {

	width: 430px;	
	border-color: #017991;
	background-position: 0 -180px;	
}

.feedback-modal .info {
	
	background-color: #eceae7;
}

.feedback-modal .head {

}

.feedback-modal .head a.closer:link,
.feedback-modal .head a.closer:visited,
.feedback-modal .head a.closer:hover,
.feedback-modal .head a.closer:active {
	
	background-position: -30px -175px;
}

.feedback-modal form input {
	
	width: 94%;
	color: #017991;
}

.feedback-modal form textarea {
	
	width: 94%;
	height: 100px;

	padding-left: 5px;
	padding-top: 5px;

	font-size: 14px;

	color: #017991;
	background: #fff;
}

/*thank you feedback modal */

.modals-popup.thank-you .info .top span.thank-you{
	padding: 11px 0;
	display: block;
	color: #017289;
	font-size: 14px;
}

.modals-popup.thank-you .info .top {
	background: #fff;
    border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	behavior: url(/css/PIE.htc);
	width: 88%;
}
/********************************************************** CONTACT *********************************************************/


.contact-modal {

	width: 430px;	
	background-color: #eceae7;
}

.contact-modal .head {

	background-position: 0 -2390px;	
}

.contact-modal .head a.closer:link,
.contact-modal .head a.closer:visited,
.contact-modal .head a.closer:hover,
.contact-modal .head a.closer:active {
	
	background-position: 0px -175px;
}

.contact-modal .info {

	background-color: #eceae7;
}

.contact-modal form input {
	
	color: #538B3B;
	width: 94%;
}

.contact-modal form textarea {
	
	width: 94%;
	height: 100px;

	padding-left: 5px;
	padding-top: 5px;

	font-size: 14px;

	color: #538B3B;
	background: #fff;
}

.contact-modal form p select {
	
	width: auto;
}

.contact-modal form p label span {

	float: none;
	
	display: inline;

	font-style: italic;
}

.contact-modal .info .right {
	
	width: 30%;

	background: transparent;
}


.contact-modal form p.select-ui a:link,
.contact-modal form p.select-ui a:visited,
.contact-modal form p.select-ui a:hover,
.contact-modal form p.select-ui a:active {
	
	color: #868684;
	font-size: 10px;
}

.contact-modal form p span.ui-selectmenu-icon {
	
	width: 15px;
}

.contact-modal form p span.ui-selectmenu-status {
	
	width: auto;
}


/********************************************************** TOOLTIP *********************************************************/

.tooltip-container {
	width:234px;
    height: 65px;
    display: none;
    position: absolute;
}

.tooltip-arrow {
	position: absolute;
	clear: both;
	z-index: 4000;
	
	display: block;
	width: 23px;
	height: 15px;
	/*margin-top: -2px;*/

	top: 48px;
	right: 25px;
	background: transparent url(/themes/green/Modal_Arrow.png) 0 0 no-repeat;
}
.up .tooltip-arrow {
	top: 6px;
	background: transparent url(/themes/green/Modal_Arrow_Up.png) 0 0 no-repeat;
}

.tooltip {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 15px !important;
	line-height: 16px;
	font-size: 12px;
	color: #538b3b;
	background: #fff;
	overflow: visible;
    width: 200px;
    display: none;
    margin:  auto !important;
}

.tooltip a { display: inline !important; }

.up .tooltip {
	top: 13px;
}
.tooltip-container .tooltip { display: block; }
.tooltip a:link,
.tooltip a:visited,
.tooltip a:hover,
.tooltip a:active {
	
	font-weight: bold;
	font-size: 12px !important;
	color: #3A3835 !important;
}

.tooltip a:hover {
	
	color: #777570;
}

.tooltip-whats-this,
.tooltip-whats-this-bg {
	
	width: 245px;
	height: 65px;

	padding: 10px;
	
	font-size: 11px;

	background-image: none;


}

.tooltip-whats-this-bg {
	
	background-color: #F3F3F3;
}

#header .actions .tooltip-container {
    width: 134px !important;
}
#header .actions .tooltip-container .tooltip {
    width: 150px !important;
    text-transform: lowercase !important;
    font-weight: bold;
	top: 19px !important;
}
#header .actions .tooltip-container a {
    text-transform: lowercase !important;
}

/********************************************************** DOWNLOAD **********************************************************/

.tooltip{
	border: 2px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
}

/********************************************************** FORM **********************************************************/


select.country { 	background: #f4f4f2;	

	}
	
select.country option { 	background: #f4f4f2;	
	border-top: 1px solid #d9d9d9;
}

#form-style {
	background: #f4f4f2;	
	border: 2px solid #3a3835;

	/* modernizr */
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;

	box-shadow: 1px 2px 2px 1px #f44;
	-moz-box-shadow: 1px 2px 2px 1px #f44;
	-webkit-box-shadow: 1px 2px 2px 0px #f44;
	
	behavior: url(/css/PIE.htc);
	zoom : 1;
}



.modals-popup a.closer:hover {
    background: url("/images/arrow-sprite.png") no-repeat scroll -14px -199px transparent !important;
}

/*CUSTOM CHECKBOX STYLE------------------------------------------------*/

.modals-popup form p.checkbox .checkbox-input{
	float:left;
	background: url(/images/checkbox.png) no-repeat;
	cursor: default;
	text-align:left;
	padding: 0;
	margin: 0;
	height: 18px;
	width: 20px;
	clear: left;
}

.modals-popup form p.checkbox  .checkbox-input input{
	display: none;
}
.modals-popup form p.checkbox .checkbox-input input.show{
	display: inline;
}
.modals-popup p.checkbox  .selected {
	background-position: 0 -18px;
}



/*LOGIN MODAL CSS------------------------------------------------*/

.login-modal p .checkbox{
	width: 110px;
	float: left;
	margin: 31px 0 0  10px;
}
.login-modal p .checkbox label{
	display: block;
	margin: 2px 0 0 19px;
}
.login-modal .checkbox .checkbox-input{
	float:left;
	background: url(/images/checkbox.png) no-repeat;
	cursor: default;
	text-align:left;
	padding: 0;
	margin: 0 0 0 8px;
	height: 18px;
	width: 20px;
	clear: left;
}
.login-modal  form .checkbox  .checkbox-input input{
	display: none;
}
.login-modal  form .checkbox .checkbox-input input.show{
	display: inline;
}
.login-modal .checkbox  .selected {
	background-position: 0 -18px;
}

.signup-modal ~ .selectBox-dropdown-menu { max-height: 137px; }
.signup-modal .selectBox { width: 293px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;}
.signup-modal ~ .selectBox-options LI A { text-transform: uppercase !important; }

/********************************************************** EDIT PROFILE*******************************************************/

.profile-modal {
	width: 366px;
	border-color: #017991;
	background-position: 0 -180px;
}
.profile-modal form label{
	width: 100px;
}

form input[type="checkbox"]{
	position: relative;

	float: none;
	clear: none;

	display: none;
	width: auto;
	height: auto;

	margin: 0;

	padding: 0;
}

.profile-modal .info {
	background-color: #eceae7;
}

.profile-modal .head a.closer:link,
.profile-modal .head a.closer:visited,
.profile-modal .head a.closer:hover,
.profile-modal .head a.closer:active {
	background-position: -30px -175px;
}

.profile-modal .info .edit-your-profile{
font-size: 14px;
color: #017289;
display: block;
margin: 10px  0 10px 23px;

}

.profile-modal form .top div{
	margin-top: 10px;
}

.profile-modal .info .top{
font-size: 11px;
font-style: italic;
padding-top: 10px;
padding-bottom: 4px;
color: #959594;
line-height: 15px;
}

.profile-modal .info .top strong{
font-style: normal;
color: #3a3836;
}

.profile-modal form .top .image{
    display: block;
    height: 96px;
    width: 129px;
	float: right;
	margin-top: -2px;
	margin-left: -1px;
	margin: -2px -6px 0px 0px;
}
.profile-modal form .image img {
    height: 92px;
    width: 129px;
}

.profile-modal form input {
	width: 80%;
	color: #017991;
}

.profile-modal p.btns{
	margin-bottom: 10px;
}

.profile-modal.view a.btn-gen-blue:link,
.profile-modal.view a.btn-gen-blue:visited,
.profile-modal.view a.btn-gen-blue:hover,
.profile-modal.view a.btn-gen-blue:active {
background: transparent url('/images/edit-button.png') 0 0 no-repeat;
width: 136px;
font-size: 14px;
font-weight: bold;
}
.profile-modal.view a.btn-gen-blue:hover{
background-position: 0 -36px;
}

.profile-modal form input.file{
	position: absolute;
	left: -9999px;
}

.profile-modal form .select-ui{
	float: left;
	width: 205px;
	display: auto;
	clear: none;
}
.profile-modal form p.checkbox{
	float: left;
    width: 114px;
	clear: none;
	margin-top: -3px;
}
.profile-modal form p.checkbox-first{
	float: left;
	clear: none;
	margin-top: 2px;
}
.profile-modal form p.checkbox label{
	float: left;
	font-size: 12px;
	color: #3a3836;
	line-height: 12px;
	margin: 3px 0;
	padding: 0;
	width: auto;
}

.modals-popup.profile-modal.view form label{
    padding-bottom: 7px;
}
.modals-popup.profile-modal.view form p {
    margin-bottom: 26px;
}
.profile-modal .info span.value {
	display: block;
	color: #017289;
	font-size: 14px;
    font-style: normal;
     margin-left: 3px;
}

.profile-modal .info .top span.user-name{
    padding: 11px 0;
    position: relative;
    top: 27px;
    width: 195px;
    overflow: hidden;
    white-space: nowrap;
}

.profile-modal.view form .top .image{
	margin-top: -39px;
	margin-right: -6px;
}

.profile-modal ~ .selectBox-dropdown-menu { max-height: 93px;  }
.profile-modal .selectBox {
	width: 165px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;}
.profile-modal ~ .selectBox-options LI A { text-transform: uppercase !important; }


.profile-modal form p.btns {
	margin-top: 17px;
	margin-bottom: 11px !important;
}

.profile-view form p.btns {
	margin-top: 3px;
	margin-bottom: 11px !important;
}

.contact-modal form p.btns {
	margin-top: 11px;
	margin-bottom: 8px !important;
}

.modals-popup form p.side-by-side span {
	width: 45%;
}

/** Snapshots **/
#snapshot-button {
    background: url("/img/pop/cam_button.png") no-repeat transparent;
    display: none;
    height: 83px;
    overflow: hidden;
    text-indent: -9999px;
    width: 83px;
    float: right;
    /*background-size: 83px 83px;*/
    margin: 15px;
    opacity: 0.85;
    border-radius: 100px;
}
#snapshot-button:hover {
    opacity: 1;
    box-shadow: 1px 1px 5px 1px #777;
}
#snapshot-button.enabled {
    display: block;
}
#snapshot-modal {
    width: 430px;
    height: 540px;
    border-radius: 6px;
    border: 1px solid #a9b2be;
    padding: 10px;
    background: transparent url("/img/pop/snapshot_modal_bg.png");
}
#snapshot-modal.has_survey {
    /*height: 460px;*/
    height: 567px;
}
#snapshot-modal.final {
    background: #68982b;
    border-color: #68982b;
    color: #fff;
    height: 427px;
}
#snapshot-modal.final h5 {
    color: #fff;
}
#snapshot-modal .sharing.thanks {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0 25px;
}
#snapshot-modal .sharing.thanks a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}
#snapshot-modal .sharing.thanks a:hover {
    text-decoration: none;
}
#snapshot-modal .buttons a {
    font-size: 20px;
}
#snapshot-modal .sn-image {
    height: 242px;
}
#snapshot-modal .sn-image-wrap {
    position: relative;
    height: 242px;
}
#snapshot-modal .sn-image img {
    max-width: 100%;
    max-height: 100%;
}
#snapshot-modal .status_msg  {
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    line-height: 1em;
    top: 5px;
    left: 0;
    overflow: hidden;
    color: #666666;
    font-size: 10px;
    text-align: center;
}
#snapshot-modal .status_msg.error {
    color: #ff4444;
}
#snapshot-modal .status_msg.success {
    color: #3A3835;
    font-size: 16px;
    line-height: 2em;
    height: 32px;
}
#snapshot-modal .title {
    color: #3a3835;
    font-weight: normal;
    font-size: 32px;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 5px;
}
#snapshot-modal .sn-image:hover, #snapshot-modal .title:hover {
    cursor: move;
}
#snapshot-modal .sharing {
    padding: 25px 0;
    text-align: center;
    position: relative;
}
#snapshot-modal.has_survey .sharing {
    padding-bottom: 10px;
}
#snapshot-modal .sharing ul {
    overflow: hidden;
    display: inline-block;
}
#snapshot-modal .sharing li {
    float: left;
    margin: 0 8px;
}
#snapshot-modal .sharing .snshare_button {
    display: block;
    height: 42px;
    width: 42px;
    overflow: hidden;
    background: transparent url("/img/pop/snapshot_social_icons.png?1") no-repeat;
    text-indent: -9999px;
}
#snapshot-modal .sharing .facebook { background-position: 0 0; }
#snapshot-modal .sharing .twitter { background-position: -42px 0; }
#snapshot-modal .sharing .gplus { background-position: -84px 0; }
#snapshot-modal .sharing .sharethis { background-position: -126px 0; cursor: pointer; }
#snapshot-modal .sharing .email { background-position: -168px 0; }
#snapshot-modal .sharing .download { background-position: -210px 0; }

#snapshot-modal span.share-btn-text {
	
}

#snapshot-modal .sharing span.many {
    display: none;
}
#snapshot-modal .sharing.many span.many {
    display: inline;
}
#snapshot-modal .sharing.many span.one {
    display: none;
}

#snapshot-modal .buttons {
    text-align: center;
    line-height: 36px;
    vertical-align: bottom;
    position: relative;
}
#snapshot-modal .buttons.email_btn {
    padding-top: 35px;
}

#snapshot-modal .buttons .snshare_button {
    margin: 0 10px;
}
#snapshot-modal .buttons .sn-reload {
    background: url("/img/pop/snapshot_small_btn.png?1") no-repeat transparent;
    height: 44px;
    width: 58px;
    margin-right: 5px;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    text-indent: -9999px;
}
#snapshot-modal .buttons .sh_btn {
    opacity: 0.9;
}
#snapshot-modal .buttons .sh_btn:hover {
    box-shadow: none;
    opacity: 1;
}
#snapshot-modal #snmodal_tab2 {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3a3835;
}
#snapshot-modal h6 {
    font-weight: normal;
    font-size: 22px;
    padding-bottom: 35px;
}
#snapshot-modal fieldset {
    overflow: hidden;
    padding-bottom: 20px;
}
#snapshot-modal input, #snapshot-modal textarea {
    color: #8b8b8b;
    border: 1px solid #8b8b8b;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: none;
    padding: 5px 10px;
    background: #f3f3f3;
}
#snapshot-modal fieldset .left, #snapshot-modal fieldset .right {
    width: 183px;
    height: 30px;
    box-sizing: border-box;
}
#snapshot-modal fieldset .left {
    float: left;
}
#snapshot-modal fieldset .right{
    float: right;
}

#snapshot-modal .preview {
    border: 1px solid #8b8b8b;
    border-radius: 3px;
    background: #f4f4f4;
    padding: 10px;
    color: #8b8b8b;
    overflow: hidden;
}
#snapshot-modal .title_holder {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;
}
#snapshot-modal .img_holder {
    float: left;
    height: 85px;
    margin: 0 20px 20px 0;
    width: 150px;
}
#snapshot-modal .img_holder img {
    max-height: 100%;
    max-width: 100%;
}
#snapshot-modal .text
{
    clear: both;
    font-size: 16px;
}
#snapshot-modal .survey_link {
    display: none;
}
#snapshot-modal.has_survey .survey_link {
    display: block;
}
#snapshot-modal .buttons .sn-close,
#snapshot-modal .take_survey_link,
#snapshot-modal .email_btn .snemail-close,
#snapshot-modal .email_btn .snemail-send,
#snapshot-modal .sn-image-wrap .view-now {
    display: inline-block;
    height: 25px;
    border-radius: 25px;
    padding: 8px 25px;
    font-size: 16px;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #3a3835;
    margin-top: 10px;
}
#snapshot-modal .take_survey_link {
    margin-top: 0;
    margin-bottom: 10px;
}
#snapshot-modal .buttons .sn-close {margin-top: 0;}
#snapshot-modal .email_btn .snemail-send {
    background-image: url("/img/icons/email.png");
    background-repeat: no-repeat;
    background-position: 15px 12px;
    padding-left: 45px;
    margin-left: 5px;
}
#snapshot-modal .sn-image-wrap .view-now {
    color: #68982b;
    background-color: #fff;
    position: absolute;
    left: 155px;
    top: 100px;
    margin: 0;
}
#snapshot-modal.final .sn-image-wrap .view-now, #snapshot-modal.final .buttons .sn-close {
    font-size: 20px;
}
#snapshot-modal .modal_close {
    position: absolute;
    top: 13px;
    right: 21px;
    width: 23px;
    height: 23px;
    background: url("/img/close-box.png?1") no-repeat 0 0;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}
#snapshot-modal.final .modal_close {
    background-position: -23px 0;
}
#snapshot-modal .email_btn .snemail-close:hover, #snapshot-modal .email_btn .snemail-send:hover {
    box-shadow: none;
}
#snapshot-modal .hidden {
    height: 0;
    width: 0;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    visibility: hidden;
}

#snapshot-modal .sn-caption {

}

#snapshot-modal .sn-caption textarea#viewer-caption {
    background: #FFFFFF;
    padding: 31px 25px 48px 25px;
    margin-top: 10px;
    border: none;
    box-shadow: none;
    -moz-border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0px;
    width: 379px;
    height: 29px;
    font-family: 'MuseoSans-100';
    font-size: 24px;
    line-height: 27px;
    color: #000000;

    resize: none;
    overflow: hidden;
}

textarea#viewer-caption::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #8e8e8e;
}
textarea#viewer-caption::-moz-placeholder { /* Firefox 19+ */
	color: #8e8e8e;
}
textarea#viewer-caption:-ms-input-placeholder { /* IE 10+ */
	color: #8e8e8e;
}
textarea#viewer-caption:-moz-placeholder { /* Firefox 18- */
	color: #8e8e8e;
}































