.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#newsticker {
    height: 45px;
    top: 0;
    font-size: 14px;
    color: #fff;
    position: relative;
    overflow: hidden;
    background: url(/images/newsticker/ticker-bg.png) repeat transparent;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
}
#newsticker .close_ticker {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 17px;
    height: 17px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/images/newsticker/close.png) no-repeat center center transparent;
}

#newsticker .alert_subtitle {
    display: none;
}

#newsticker .alert_title {
    font: 17px/45px Arial,sans-serif;
    font-weight: bold;
}

#newsticker .alert_meta {
    height: 100%;
    float: left;
    overflow: hidden;
    padding-left: 47px;
    background: url(/images/newsticker/exclamation.png) no-repeat 12px 50%;
    margin: 0 30px 0 0;
    max-width: 280px;
    letter-spacing: -0.01em;
}

#newsticker .alert_meta.alert_type_0 {
    color: #8BC53F;
    background-image: url(/images/newsticker/exclamation.png);
}
#newsticker .alert_meta.alert_type_1 {
    color: #ffdd15;
    background-image: url(/images/newsticker/schedule-clock.png);
}
#newsticker .alert_meta.alert_type_2 {
    color: #ef3d25;
    background-image: url(/images/newsticker/gear.png);
}
#newsticker .alert_meta.alert_type_facts {
    color: #26a9e0;
    background-image: url(/images/newsticker/logbook.png);
}
/* big icons */
#newsticker.scroll_type_0 .alert_meta.alert_type_0 {
    background-image: url(/images/newsticker/big/exclamation.png);
}
#newsticker.scroll_type_0 .alert_meta.alert_type_1 {
    background-image: url(/images/newsticker/big/schedule-clock.png);
}
#newsticker.scroll_type_0 .alert_meta.alert_type_2 {
    background-image: url(/images/newsticker/big/gear.png);
}
#newsticker.scroll_type_0 .alert_meta.alert_type_facts {
    background-image: url(/images/newsticker/big/logbook.png);
}

.tickercontainer {
    /*background: transparent url('../img/transparent_bg.png') repeat 0 0;*/
    height: 100%;
    margin: 0 60px 0 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}

.tickercontainer .mask {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden
}

ul.newsticker {
    list-style-type: none;
    line-height: 45px;
    margin: 0;
    position: relative;
    padding: 0;
    left: 600px;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}

ul.newsticker li {
    float: left;
    margin: 0;
    padding: 0;
    background: none;
    height: 45px;
    white-space: nowrap;
}

#newsticker ul a {
    color: #fff;
    text-decoration: underline;
    white-space: nowrap
}
#newsticker ul a:hover {
    text-decoration: none;
}

#newsticker.scroll_type_0 {
    height: 60px;
}
#newsticker.scroll_type_0 .alert_meta {
    height: 36px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 54px;
}
#newsticker.scroll_type_0 .alert_title {
    line-height: 1em;
    margin-bottom: 4px;
    font-size: 15px;
}
#newsticker.scroll_type_0 .alert_subtitle {
    display: block;
    color: #fff;
    font-weight: bold;
}
#newsticker.scroll_type_0 .close_ticker
{
    top: 21px;
}
#newsticker.scroll_type_0 #ticker02 {
    margin: 11px 60px 12px 0;
    line-height: 1.3em;
    max-height: 38px;
    overflow: hidden;
}

#newsticker.scroll_type_2 .tickercontainer .mask
{
    height: 18px;
    top: 13px;
}

#newsticker.scroll_type_2 ul.newsticker {
    line-height: 36px;
    overflow: visible;
    position: absolute;
    top: -9px;
    width: 100%;
    left: 0;
    height: auto;
}
#newsticker.scroll_type_2 ul.newsticker li {
    float: none;
    height: auto;
    margin: 0;
    white-space: normal;
    width: 100%;
}


/*
 New Styles by Bricks - promo newsticker (alerts)
 */

.alert-wrap {
    width: 100%;
    overflow: hidden;
}
.alert-box {
    position: relative;
    width: 880px;
    margin:23px auto;
    padding: 20px 60px 20px 20px;
    color: #000;
    background-color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 7px;
    overflow: hidden;

    box-shadow: 3px 3px 5px #888888;
    max-height: 215px;
}
.alert-box .close_ticker {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
    background:url(/img/close-box.png) no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}
.alert-box span {
    font-size: 32px;
    letter-spacing: normal;
}
.alert-box .text {
    font-size: 24px;
    margin-left: 170px;
}
.alert-box .text a {
    font-family: Arial,sans-serif;
    color: #869f63;
    letter-spacing: normal;
}
.alert-box .text a:hover {
    color: #3a3836;
}
.image-placer {
    max-width: 164px;
    max-height: 100px;
    margin-right: 20px;
    background: #CCC;
    float: left;
}
.time-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background:url(/img/time-icon.png);
    vertical-align: middle;
}
.alert-box .alert_title {
    font-weight: bold;
    font-size: 32px;
}
.alert-box .alert_subtitle {
    font-size: 32px;
}
.alert-box .top_block {
    margin-top: -3px;
    line-height: 32px;
    margin-bottom: 2px;
    margin: -3px 0 2px 170px;
}
.li-separator {
    display: block;
    float: none;
    clear: both;
    width:100% !important;
    height:24px !important;
    background: none;
    padding:15px 0 5px 0;
}

