.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

#channel-player {
	position: relative;
}
#channel-player .sidemodal {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 365px;
	height: 530px;
	background: #f6f3ea;
	z-index: 103;
    display: none;
}
#channel-player .sidemodal .sidemodal-inner {
	height: 530px;
	background: #f6f3ea url("/images/sidemodal.png");
}
#channel-player .sidemodal.notes .sidemodal-inner {
	background: #f6f3ea url("/images/sidemodal-notes.png");
}
#channel-player .sidemodal .sidemodal-title {
	height: 118px;
}
#channel-player .sidemodal .sidemodal-title h3 {
	font-size: 16px;
	padding: 25px 0 0 15px;
}
#channel-player .sidemodal.related .sidemodal-title {
	height: 62px;
}
#channel-player .sidemodal .sidemodal-title p {
	padding: 10px 5px 10px 15px;
}
/*#channel-player .sidemodal.notes .sidemodal-title {
    height:105px;
}
#channel-player .sidemodal.notes .sidemodal-title p {
	margin-left: 15px;
    padding-bottom: 5px !important;
}*/
#channel-player .sidemodal .sidemodal-title .close {
	display: block;
	margin: 0px;
	width: 20px;
	height: 20px;
	text-indent: -12000px;
	text-align: left;
	float: right;/*
	background: transparent url("library/images/sidemodal-close.png");*/
}


#channel-player .sidemodal .sidemodal-title textarea {
	margin: 0 10px 0 15px;
	float: left;
	width: 270px;
    font-size: 13px;
    line-height: 22px;
    color: #3a3836;
	background: #fff;
    overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#channel-player .sidemodal.notes .sidemodal-title textarea {
    margin: 0 10px 0 27px;
    width: 257px;
}
#channel-player .sidemodal .sidemodal-title textarea.searchHighlight {
    /*line-height: 22px;
    font-size: 13px;*/
    color: #777570; /*#a2a19d;*/
    font-size: 17px;
}
/*#channel-player .sidemodal.notes .sidemodal-title textarea {
	width: 260px;
	margin-left: 25px;
}*/
#channel-player .sidemodal .sidemodal-title .sidemodal-button {
	display: block;
	margin-top: 49px;
	width: 40px;
	height: 30px;
	text-indent: -12000px;
	float: left;
}
/*#channel-player .sidemodal.notes .sidemodal-title .sidemodal-button {
	margin-top: 42px;
}*/

#channel-player .sidemodal .sidemodal-title a.close {
	
}
#channel-player .sidemodal .sidemodal-notes {
	height: 402px;
	overflow: scroll;
}
#channel-player .sidemodal .sidemodal-notes .sidemodal-entry {
	padding: 0 30px 19px 27px; /* padding: 0 40px 19px 25px; */
	background: transparent url("/images/sidemodal-notes-lines.png") repeat;
}
#channel-player .sidemodal .sidemodal-notes .sidemodal-entry p {
	line-height: 19px !important;
	color: #3a3836;
    margin-right: 20px;
}
#channel-player .sidemodal .sidemodal-notes .sidemodal-entry strong {
	margin-right: 2px;
	font-weight: bold;
}
#channel-player .sidemodal .sidemodal-notes .sidemodal-entry cite {
	display: block;
	color: #777570;
}

#channel-player .sidemodal .sidemodal-comments {
	height: 402px;
	overflow: scroll;
}
#channel-player .sidemodal .sidemodal-comments .sidemodal-entry {
	margin: 0 15px;
	padding: 10px 0px;
	background: transparent url("/images/sidemodal-comment-entry.png") top left repeat-x;
    width: 325px;
}
#channel-player .sidemodal .sidemodal-comments img {
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
#channel-player .sidemodal .sidemodal-comments p {
	line-height: 16px !important;
	color: #3a3836; /*#6d6b66;*/
	float: left;
	width: 260px;
    margin-top: -4px;
}
#channel-player .sidemodal .sidemodal-comments .sidemodal-entry cite {
	display: block;
	color: #777570;
}

#channel-player .sidemodal .sidemodal-related {
	height: 468px;
	overflow: scroll;
}
#channel-player .sidemodal .sidemodal-related strong {
	display: block;
}
#channel-player .sidemodal .sidemodal-related .sidemodal-entry {
	margin: 0 15px;
	padding: 10px 0px;
	background: transparent url("/images/sidemodal-comment-entry.png") top left repeat-x;
}
#channel-player .sidemodal .sidemodal-related p {
	line-height: 16px !important;
	color: #6d6b66;
	float: left;
}



#channel-player {
	
}
#channel-player {
	
}








/* pencil icon for notes */

#channel-info a.expander.notes:link, 
#channel-info a.expander.notes:visited, 
#channel-info a.expander.notes:hover, 
#channel-info a.expander.notes:active {
	position: absolute;
	top: 205px;
	right: -25px;
	display: block;
	width: 26px;
	height: 34px;
}

.sidemodal.notes .jspVerticalBar { right:9px; }
.sidemodal.notes .jspScrollable { width: 365px !important; }
.sidemodal.notes .jspContainer { width: 365px !important; }

.sidemodal-comments { width: 355px !important; padding-right: 10px;}
.sidemodal.comments .jspVerticalBar { right:10px; }

.sidemodal .explore-mug-thumb { background-position: -70px -290px; }

a.expander.notes:hover, a.expander.notes:active, a.expander.notes:link, a.expander.notes:visited {
    background: url("/images/sidemodal-notes-icon.png") no-repeat scroll -13px -4px transparent !important;
    right: -15px !important;
    display: none;
}

/* for demo only - covered in theme class files */
/*
#channel-info a.expander.notes:link, 
#channel-info a.expander.notes:visited  {
	background: transparent url(themes/sea-green/Sprite.png) -40px -110px no-repeat;
} 
#channel-info a.expander.notes:hover, 
#channel-info a.expander.notes:active {
	background: transparent url(themes/sea-green/Sprite.png) -40px -144px no-repeat;
}
.sidemodal a.close:link,
.sidemodal a.close:visited,
.sidemodal a.close:hover,
.sidemodal a.close:active {
	background: transparent url(themes/sea-green/Sprite.png) 0 -190px no-repeat;
}
.sidemodal a.sidemodal-button:link,
.sidemodal a.sidemodal-button:visited {

	background: transparent url(themes/sea-green/Sprite.png) -80px -110px no-repeat;
}
.sidemodal a.sidemodal-button:hover,
.sidemodal a.sidemodal-button:active {

	background: transparent url(themes/sea-green/Sprite.png) -80px -144px no-repeat;
}
#channel-player .sidemodal .sidemodal-title p,
#channel-player .sidemodal .sidemodal-notes strong,
#channel-player .sidemodal .sidemodal-comments strong,
#channel-player .sidemodal .sidemodal-related strong {
	color: #96c2b1; 
}
*/

a.expander.live-chat:active, a.expander.live-chat:link, a.expander.live-chat:visited {
    height:90px;
    width: 24px;
    position: absolute;
    top: 144px;
    right: -14px !important;
    background: url('/themes/dark/Sprite.png?1') no-repeat -138px -109px;
}
a.expander.live-chat:hover {
    background-position: -163px -109px !important;
}
a.expander.live-chat.open:active, a.expander.live-chat.open:link, a.expander.live-chat.open:visited, a.expander.live-chat.open:hover  {
    background-position: -188px -109px !important;
}
.content #channel-main a.expander_info {
    /*background: url("/themes/dark/Sprite.png?1") no-repeat scroll 0 -112px transparent;*/
    display: block;
    height: 34px;
    position: absolute;
    right: -15px;
    top: 361px;
    width: 25px;
	z-index: 160;
}
.content.live-cams #channel-main a.expander_info {top: 385px;}
/*.content #channel-main a.expander_info:hover {
    background-position: 0 -146px !important;
}*/
.content #channel-main a.expander_info:hover .tooltip_css {
	display: block;
}
body.wall-fullscreen .content.wall #channel-main a.expander_info,
body.photo-fullscreen .content #channel-main a.expander_info {
	display: none;
}

#channel-player .sidemodal #sidemodal-social-chat iframe {
    height: 100% !important;
    width: 100% !important;
}

.live-cams.ustream #sidemodal-social-chat
{
    height: 563px;
}

a.popoff-button {
  top: 300px;
  right: -46px; }

.show_promo a.popoff-button {
  top: 415px;
}

.live-cams a.popoff-button:link {
  padding: 7px;
  width: 55px;
  height: 90px;
  text-align: center;
  background: -webkit-linear-gradient(#82ad70, #6fa15a 50%, #599341);
  background: linear-gradient(#82ad70, #6fa15a 50%, #599341);
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 0 2px 1px #c8c6c1;
  -moz-box-shadow: 1px 0 2px 1px #c8c6c1;
  box-shadow: 1px 0 2px 1px #c8c6c1;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px; }
  .live-cams a.popoff-button:link:hover {
    padding-top: 6px;
    border-top: 1px solid #8dc377;
    background: -webkit-linear-gradient(#8dc377, #7ab960 50%, #68b04a);
    background: linear-gradient(#8dc377, #7ab960 50%, #68b04a); }
.live-cams a.popoff-button img {
  width: 40px;
  height: 37px;
  margin-bottom: 7px; }
.live-cams a.popoff-button .txt {
  float: none;
  color: #FFFFFF;
  font-size: 12px;
  /*font-family: 'MuseoSans-500'; */
}

.content.live-cams #channel-main a.expander_info {
  top: 400px; }

.content.live-cams #channel-main.show_promo a.expander_info {
  top: 515px; }

.content #channel-main a.expander_info {
  padding: 7px;
  right: -46px;
  width: 55px;
  height: 75px;
  text-align: center;
  background: -webkit-linear-gradient(#fdfdfd, #ececec 50%, #d9dada);
  background: linear-gradient(#fdfdfd, #ececec 50%, #d9dada);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 0 2px 1px #c8c6c1;
  -moz-box-shadow: 1px 0 2px 1px #c8c6c1;
  box-shadow: 1px 0 2px 1px #c8c6c1;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px; }
  .content #channel-main a.expander_info:hover {
    padding-top: 6px;
    border-top: 1px solid #fdfcfb;
    background: -webkit-linear-gradient(#fdfcfb, #efefee 50%, #e7e5e4);
    background: linear-gradient(#fdfcfb, #efefee 50%, #e7e5e4); }
  .content #channel-main a.expander_info img {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
  }
  .content #channel-main a.expander_info .txt {
    float: none;
    color: #6c6c6c;
    font-size: 12px;
    /*font-family: 'MuseoSans-500';*/
  }

.tooltip_css {
  left: 22px; }

/*
#channel-title h2 {
  font: 22px normal 'MuseoSans-500'; }
#channel-title .cm-title {
  color: #555555 !important; }
#channel-title .im-title {
  color: inherit !important; }
#channel-title .dim-switch {
  width: 205px; }
  #channel-title .dim-switch div {
    margin-top: 3px; }
  #channel-title .dim-switch span.dim {
    font: 18px normal 'Helvetica-Neue'; }

#all-snapshots {
  margin: 0 5px 0 0; }*/
