a.social-btn:link,
a.social-btn:visited,
a.social-btn:hover,
a.social-btn:active {

	display: block;
	width: 125px;
	height: 37px;
	
	background: url(/images/login-badges-sprite.png) 0 0 no-repeat;
}

	

a.facebook:link,
a.facebook:visited,
a.facebook:hover,
a.facebook:active {

	background-position: 0 0px;
}

a.facebook:hover {

	background-position: 0 -444px;
}

	

a.twitter:link,
a.twitter:visited,
a.twitter:hover,
a.twitter:active {

	background-position: 0 -37px;
}

a.twitter:hover {

	background-position: 0 -481px;
}

	

a.google:link,
a.google:visited,
a.google:hover,
a.google:active {

	background-position: 0 -74px;
}

a.google:hover {

	background-position: 0 -518px;
}

	


a.windowslive:link,
a.windowslive:visited,
a.windowslive:hover,
a.windowslive:active {

	background-position: 0 -111px;
}

a.windowslive:hover {

	background-position: 0 -555px;
}

	

a.yahoo:link,
a.yahoo:visited,
a.yahoo:hover,
a.yahoo:active {

	background-position: 0 -148px;
}

a.yahoo:hover {

	background-position: 0 -592px;
}

	

a.aol:link,
a.aol:visited,
a.aol:hover,
a.aol:active {

	background-position: 0 -185px;
}

a.aol:hover {

	background-position: 0 -629px;
}

	

a.linkedin:link,
a.linkedin:visited,
a.linkedin:hover,
a.linkedin:active {

	background-position: 0 -222px;
}

a.linkedin:hover {

	background-position: 0 -666px;
}

	

a.myspace:link,
a.myspace:visited,
a.myspace:hover,
a.myspace:active {

	background-position: 0 -259px;
}

a.myspace:hover {

	background-position: 0 -703px;
}

	

a.flickr:link,
a.flickr:visited,
a.flickr:hover,
a.flickr:active {

	background-position: 0 -296px;
}

a.flickr:hover {

	background-position: 0 -740px;
}

	

a.blogger:link,
a.blogger:visited,
a.blogger:hover,
a.blogger:active {

	background-position: 0 -333px;
}

a.blogger:hover {

	background-position: 0 -777px;
}

	

a.wordpress:link,
a.wordpress:visited,
a.wordpress:hover,
a.wordpress:active {

	background-position: 0 -370px;
}

a.wordpress:hover {

	background-position: 0 -814px;
}

	

a.openid:link,
a.openid:visited,
a.openid:hover,
a.openid:active {

	background-position: 0 -407px;
}

a.openid:hover {

	background-position: 0 -851px;
}
