/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
}
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}
.jspVerticalBar *, .jspHorizontalBar * {
	margin: 0;
	padding: 0;
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspTrack {
	position: relative;
	background-attachment: scroll;
	background-image: url(../images/scroll/scroll-pane-track.png);
	background-repeat: repeat-y;
	background-position: 0px 0px;
}
.jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-attachment: scroll;
	background-image: url(../images/scroll/drag.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
.jspCapTop {
	height: 6px;
	background-image: url(../images/scroll/track-top.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.jspCapBottom {
	height: 6px;
	background-image: url(../images/scroll/track-bottom.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

