.footer {
  background: url(footer-bg.jpg) repeat;
  font-family: 'HelveticaNeue';
  color: #fff;
  font-size: 14px;

  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-callout {
  background: rgba(51, 95, 36, 0.5);
  color: #fff;
}

.lead-text {
  color: #000;
  font-weight: bold;
}

.legal-text {
  color: #000;
}
